/*===========================================================================
	폰트
============================================================================*/
@font-face {font-family: 'Noto Sans KR', sans-serif; src:url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
 
/*===========================================================================
	CSS 초기화
============================================================================*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; font-family: 'Open Sans', 'Noto Sans KR' ,sans-serif; line-height:1; color:#222; box-sizing: border-box;}
a{margin:0;	padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration:none; color:#333;}
p {font-size:14px; font-weight:300; text-align: left;}
em {font-style: initial;}
img{vertical-align:top; width:100%;}
body {background:#fff;}
a {display:block; box-sizing: border-box;}
img {object-fit: cover;}
strong {display:inline-block; font-size:14px; font-weight:600;}
nav ul, li{list-style:none;}
span {display:inline-block;}
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section{display:block;}
textarea {resize: none;}
input, textarea{width:100%; margin:0; padding:8px 4px; border:1px solid #e2e2e2; background:#fff; color:#222; font-size:12px; vertical-align:top; border-radius:0; box-sizing:border-box; border-radius:2px; appearance:none;}
input[type="checkbox"] {width:20px; height:20px; appearance:auto;}
input:focus, textarea:focus {outline:1px solid rgba(0,0,0, 0.3);}
button {background:inherit; border:1px solid #e2e2e2; min-width:80px; padding:10px; font-size:1rem; cursor:pointer;}
em {line-height:1;}
.txtLeft {text-align: left !important;}
.col-group {width:100%; display: flex; align-items: center;}
/*===========================================================================
	공통요소
============================================================================*/
#wrap {display:flex; width:100%; margin-top:80px;}
.btn {padding:6px 20px;color:#fff}
/*===========================================================================
	헤더
============================================================================*/
header {z-index:1000; position:fixed; top:0; left:0; padding:0 15px; width:100%; height:80px; display:flex; justify-content:space-between; align-items: center; background:#fff; border-bottom:1px solid #e2e2e2;}
header .icon{display:none}
header .logo {margin-right:40px;}
header .mobile {display:none}

/*===========================================================================
	컨테이너
============================================================================*/
.container {padding:0 20px; width: 100%; min-width: 1190px;}
/* main {padding:40px 0; } */
/*===========================================================================
	페이지 헤더
============================================================================*/
.wrap-tit {display:flex; align-items:center; justify-content:space-between; padding:20px 0}
.wrap-tit h2 {font-size:20px}
.wrap-tit ul {display: flex;}
.wrap-tit ul li {padding-left:10px;font-size:14px}

/*===========================================================================
	페이지 콘텐츠
============================================================================*/
.cont-top {display: flex; justify-content: space-between; align-items: center;}
.cont-top .left {display: flex; justify-content: flex-start;}
.cont-top .left strong{color: #006551;}
.cont-top .right {display: flex; justify-content: flex-end; align-items: center;}
.cont-top .right .search {display: flex; height: 40px; align-items: center; position: relative;} 
.cont-top .right .search label {padding: 12px; font-weight: bold; background: #ddd; white-space: nowrap;}
.cont-top .right .search select {width: 100px; margin-right: 5px; border: 1px solid #ddd; height: 100%; background: white;}
.cont-top .right .search input#search_word {padding:5px; padding-right: 30px; margin-right:5px; height: 100%;}
.cont-top .right .search a {position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;}
.cont-top .right .search button {background: white; width: 100px; padding: 12px 20px; margin-right: 5px; height: 100%;}

.cont-top .right .button {cursor: pointer; color: white; background: #006551; padding: 12px 20px; margin-right:5px}

/* 퍼센트 바 */
.trash-wrap {position:absolute; bottom:20px; left:0; width: 100%; border-top:1px solid #e2e2e2;}
.bar-container {width: 100%; background:#f1f1f1; text-align: center; color: #fff; border-radius:2px;}
.bar-container p {padding:16px 4px; background:#fff; cursor:auto;}
.bar-container p img {cursor:pointer;}
.bar-container .bar {height:20px; background:#2196f3; border-radius: 2px;}
.bar-container span {display: block; padding:8px 4px 0 0; text-align: right; font-size:14px; background:#fff;}

/*===========================================================================
	네비게이션
============================================================================*/
nav {width:230px;border-right:1px solid #e2e2e2; overflow:hidden;} /*height:calc(100vh - 80px); */
nav > ul {position:relative; height: 100%;}
nav > ul > li p {padding:16px; border-bottom:1px solid #e2e2e2; transition:.2s;font-weight: normal; cursor:pointer;}
nav > ul > li p img {float: right; width: 20px; margin: -3px 0 0 4px;cursor: pointer;}
nav > ul > li > a {padding:16px; border-bottom:1px solid #e2e2e2;font-size:14px;transition: .2s}
nav > ul > li a:hover {background:#e2e2e2;}
nav > ul > li > ul {display:none; border-bottom:1px solid #e2e2e2;}
nav > ul > li > ul li a {display:block; padding:10px 14px; font-size:14px;}
nav > ul > li > .arrow img{transition: all ease .4s;}
.rotate {transform: rotate(-180deg);}
/*===========================================================================
	테이블
============================================================================*/
table {width:100%;font-size:14px; border-collapse:collapse; border-spacing:0;border-top:1px solid #999; min-width: 1000px; table-layout: fixed;}
table tr {border-bottom:1px solid #e2e2e2;}
table th {padding:20px 0; background:#f9f9f9;}
table td {padding:10px 2px; vertical-align: middle; text-align: center; overflow:hidden; white-space: nowrap; text-overflow: ellipsis;} /* height:140px;  */
table td.tit {font-size:14px; font-weight:500;}
table tr th ,table tr td  {padding:14px 0; text-align: center; }
table tr th {font-weight:600; font-size: 18px;}
table tr td {font-weight:300; font-size: 18px;}
table tr td a {display: block;}
table .btn-group {display:flex;justify-content: center; margin: 0;}
.btn-group a {line-height:1;}
table .btn-group a {float: left;}
table .btn-modify {background: #006551;}
table .btn-delete {background:gray; margin-left:10px}
table .btn_enquiry_delete {background:gray; margin-left:0px}

.table-wrap {margin-top:20px; width: 100%; min-width: 1150px;}

/*===========================================================================
	상품 리스트
============================================================================*/
.cont-group {display:flex; flex-wrap:wrap; margin-top:10px;}
.cont-group li {position:relative; width:calc(20% - 12px); margin:0 6px 12px; border:1px solid #e2e2e2; padding:20px 15px 10px;}
.cont-group li .list-tit {font-size:18px; font-weight:600; margin:10px 0; text-align: center;}
.cont-group li a > p {margin:14px 0; font-size:16px; font-weight: 500;}
.cont-group li .num {position:absolute; top:4px; left:4px; display: inline-block;}
.cont-group li .img {border:1px solid #e2e2e2; overflow:hidden;}
.file-cont-wrap {margin:8px 0;}
.file-cont-wrap strong {font-size:13px; font-weight:500; margin-bottom: 4px; line-height:1;}
.file a {display:inline-block;border:1px solid #ddd;width:100px;padding:8px 20px;margin-left:5px} 
.file {display: flex;}
.file > p {width:calc(100% - 65px); border:1px solid #eee; height:30px; line-height:30px; padding:0 10px;}
.file > div {position:relative; width:65px;height:30px;}
.file input {width:500px;margin:0 auto; cursor: pointer;}
.file > div input[type="file"] {position:absolute; opacity:0; left:0; top:0; width:100%; height:100%;}
.file > div button {position:absolute; top:0; left:0; cursor: pointer; background:#006551; color:#fff; width:100%; height:100%; text-align: center; line-height:30px;}
.cont-group li .btn-group {display:flex; justify-content: center;}
.cont-group li .btn-group .btn {margin:0 4px;}
.cont-group li .btn-group .btn-modify {background: #006551;}
.cont-group li .btn-group .btn-delete {background:gray;}

/*===========================================================================
	로그인 
===========================================================================*/
.login_wrap {position: absolute; top:40%; left:50%; transform: translate(-50%, -50%);}
.login_wrap h5 {text-align: right; margin: 10px 0px;}
.login_wrap .container {width:340px; margin-top: 40px; text-align: center; min-width: 200px;}
.login_wrap .container form { margin-top:40px;}
.login_wrap .container form .input-group {margin-bottom: 10px; text-align: left;}
.login_wrap .container form .input-group input {padding: 15px 10px; margin-bottom:5px;}
.login_wrap .container form .input-group span {font-size: 11px; color: red; padding-left:5px;}
.login_wrap .container input[type="submit"] {background: tomato; color: white; cursor: pointer; height:40px; font-size: 15px; font-weight: bold;}

.login_wrap .error-box {margin-top: 40px;}
.login_wrap .error-box span {font-size:14px; color: red;}

.login_wrap .container .loading {width: 45px; height: 45px;}
.login_wrap .container .msg-box {padding : 10px;}
.login_wrap .container .msg-box p {font-size: 24px; font-weight: 400; text-align: center; margin-bottom: 10px;}

/*===========================================================================
	메인
===========================================================================*/
main {width: calc(100% - 230px); height:calc(100vh - 80px); overflow: scroll;}

/*===========================================================================
	푸터
============================================================================*/
footer {padding:30px 0; background:rgba(202, 204, 206, 0.3);}
footer h3 {font-size:14px !important; font-weight:500; padding:0 !important;}
footer p strong {font-weight:500; font-size:12px;}
footer p span {font-weight:300; font-size:12px;}
footer p.underbar {margin:10px 0;}



/*===========================================================================
	media query
============================================================================*/
@media (min-width:1600px) {
	.cont-group li .img {height:250px;}
}
@media (max-width:1500px) {
	.cont-group li {width:calc(25% - 12px);}
}

@media (max-width:1250px) {
	.cont-group li {width:calc(33% - 12px);}

}
@media (max-width:1000px) {
	.cont-group li {width:calc(50% - 12px);}

}

@media (max-width:768px){
	/* .login_wrap {height:100vh;} */
	table .btn-group {display:block; text-align: center;}
	table .btn-group a {float:inherit; display:inline-block; width:80%; margin:0; padding:8px 2px;}
	table .btn-group a.btn-delete {margin-top:4px; white-space:nowrap;}
}
@media (max-width:480px){
	.cont-group li {width:100%; margin:0 0 14px;}
	table .btn-group a {font-size:12px;}
}


/* 페이지네이션 */
.pagination div{width:35px; height:35px; padding: 5px; text-align: center}
.pagination div.active span{color:blue; font-weight: bold; border-bottom: double}
