.pagination {display: flex; justify-content: center;padding-top:20px;}
.pagination a.page-num {padding:0 20px}


select {padding:8px 4px; border:1px solid #e2e2e2;}

/*포스트 공통*/
.btn-group {margin:0 0 40px 0; text-align: right;}
.list-group {padding:20px; border:1px solid #ddd;}
.list-group h3 {font-size:20px; padding-bottom:14px; border-bottom:1px solid #ddd;}
.list-group .list-top {display: flex; align-items: center; padding:12px 10px }
.list-group .list-top .profile {width: 32px; height: 32px;}
.list-group .list-top .profile img {width: 100%; height: 100%; border-radius: 100%;}
.list-group .list-top .nickname {padding-left: 10px; font-weight: 600;}
.list-group .list-top .date {margin-left:auto;}
.list-group .list-img a {display: block;}
.list-group .list-cont {margin-top:40px; height:200px;}
.list-group .list-hash {margin-top:20px;}
.list-group .list-hash li {margin-right:10px; color:#6799FF;}

.sort-group {display:flex; align-items: center;}
.sort-group select {width: 120px;}
.sort-group .search-group {display:flex}
.sort-group .search-group input {width: 240px; }
.sort-group .search-group .btn {color:#333;}

/*===========================================================================
	포스트 관리
============================================================================*/
/* 포스트 리스트 */
.post-detail .container {max-width: 1000px; margin:0 auto;}

/* 댓글 리스트 */
.post-comment-detail .container {max-width: 1200px; margin:0 auto;}
.post-comment-detail .list-group .list-top {align-items: flex-start; justify-content: space-between;}
.post-comment-detail .list-group .list-top .list-img {height:300px; margin-left:auto;}
.post-comment-detail .list-group .list-top .list-img img {width:100%; height: 100%;}
.post-comment-detail .list-group .list-top .left, .post-comment-detail .list-group .list-top .right {width: 48%;}
.post-comment-detail .comment-group {margin-top:20px;}
.post-comment-detail .comment-group h3 {font-size:20px; padding-bottom:14px; }
.post-comment-detail .comment-group .list-group {padding: 0; justify-content: space-between; margin-top: -1px;}
.post-comment-detail .comment-group .list-group .left {width: calc(100% - 120px); border-right:1px solid #ddd; }
.post-comment-detail .comment-group .list-group .left .list-top {padding: 20px 20px 0;}
.post-comment-detail .comment-group .list-group .left .list-cont {width: 100%; height: auto; margin-top:10px; padding: 20px; border-top:1px solid #ddd;}
.post-comment-detail .comment-group .list-group .right {width: 120px; height: 100%; display:flex; align-items: center; justify-content: center;}
.post-comment-detail .comment-group .list-group .right .btn-group {margin:0; }

/* 0622 추가 */
.feed-details {display: flex; width:10;}
.feed-details .feed-container {border : 1px solid #ddd; width : 40%; padding : 20px; margin-right: 20px}
.feed-details .feed-container .profile {display: flex; justify-content: flex-start; align-items: center; padding-bottom: 10px;}
.feed-details .feed-container .profile .my-img {width : 48px; height: 48px; object-fit: cover; object-position: center; border-radius: 24px;}
.feed-dateils .feed-container .profile .no-my-img {width : 48px; height: 48px; object-fit: cover; object-position: center; border-radius: 24px; border: 1px solid #ddd;}
.feed-details .feed-container .profile span {margin-left : 10px; background: white;}
.feed-details .feed-container .img-box{width: 100%; margin-bottom:20px;}
.feed-details .feed-container .img-box .img-pagination {position:relative; bottom: -10px; left: 50%; transform: translateX(-50%);}
.feed-details .feed-container .txt-box {padding : 10px 0;}
.feed-details .feed-container .txt-box pre{line-height: 1.2; margin-bottom: 10px}
.feed-details .feed-container .txt-box .tag {color : #6799FF; font-size: 14px; padding : 5px}
.feed-details .reply-container {border : 1px solid #ddd; width : 40%; padding : 20px;}
.feed-details .reply-container .reply {border : 1px solid #ddd; margin-bottom:5px; display: flex; padding : 5px;}
.feed-details .reply-container .reply .left {width: 15%}
.feed-details .reply-container .reply .left .my-img {width : 48px; height: 48px; object-fit: cover; object-position: center; border-radius: 24px;}
.feed-dateils .reply-container .reply .left .no-my-img {width : 48px; height: 48px; object-fit: cover; object-position: center; border-radius: 24px; border: 1px solid #ddd;}
.feed-details .reply-container .reply .right {margin-left: 5px; width : 85%}
.feed-details .reply-container .reply .right .content {white-space: normal !important; word-break:break-all}

/*===========================================================================
	회원 관리
============================================================================*/
.wrap-cont-box {border:1px solid #eee;}
.wrap-cont-box .enquiry-detail-top h3{padding:20px 10px; background:#fff;}
.wrap-cont-box .enquiry-detail-top ul {width:100%;}  
.wrap-cont-box .enquiry-detail-top ul li {display:flex; align-items: center; width:100%;background:#fff;border-bottom:1px solid #eee;padding:30px 4px}
.wrap-cont-box .enquiry-detail-top ul li strong {width:100px; text-align: center;overflow: hidden;}
.wrap-cont-box .enquiry-detail-top ul li span {display: inline-block;width:calc(100% - 100px);}
.wrap-cont-box .enquiry-detail-top ul li .list {display: inline-block;width:calc(100% - 100px); border:1px solid #eee;}
.wrap-cont-box .enquiry-detail-top ul li .list li {padding:14px 10px; transition:.2s;}
.wrap-cont-box .enquiry-detail-top ul li .list li:last-child {border-bottom:0;}
.wrap-cont-box .enquiry-detail-top ul li .list li a{display: block; width: 100%;}
.wrap-cont-box .enquiry-detail-top ul li .list li:hover{background:#eee;}
.wrap-cont-box .enquiry-detail-top ul li.row-group {align-items: flex-start;}
.wrap-cont-box .enquiry-detail-top ul li.row-group .row-list {width: 33%;}
.wrap-cont-box .enquiry-detail-top ul li.row-group .row-list strong {display: block; text-align: left; padding:0 0 10px 10px;}
.wrap-cont-box .enquiry-detail-top ul li.row-group .row-list .list {width: 100%; height:452px;}
.wrap-cont-box .enquiry-detail-top ul li span.txt {min-height:60px;}
.wrap-cont-box .enquiry-detail-top ul li span a:first-child {padding-bottom:10px}
.wrap-cont-box .enquiry-detail-top ul li p {width:calc(100% - 100px);}
.wrap-cont-box .enquiry-detail-top ul li p span {width:auto; display:inline-block; font-size:16px;}
.wrap-cont-box .enquiry-detail-top select {width:240px;padding:8px 0;border: 1px solid #e2e2e2; }
.member-wrap .cont-wrap table tbody tr {cursor:pointer;}




/*===========================================================================
	공지사항 등록
============================================================================*/
.wrap-cont-box .notice-detail-top h3{padding-bottom: 20px;border-bottom:2px solid #006551}
.wrap-cont-box .notice-detail-top ul {display:flex;}  
.wrap-cont-box .notice-detail-top ul li {padding:4px }
.wrap-cont-box .notice-detail-top ul li em {color:red}
.wrap-cont-box .notice-detail-top ul li select {width:100%;height:30px;border:1px solid #ddd;}
.wrap-cont-box .notice-detail-top ul li input {width:100%;height:30px;color:#ddd}
.wrap-cont-box .notice-detail-top ul li.notice-detail-tit {padding:10px;background:#ddd}
.wrap-cont-box .notice-detail-top ul li.notice-detail-tit p {line-height:20px; font-weight: 400;}
.wrap-cont-box .notice-detail-top ul li.notice-detail-cont {background:#fff; display: flex; align-items: center;}
.wrap-cont-box .notice-detail-top ul li.notice-detail-cont input {color : black}
.wrap-cont-box .notice-detail-top ul li.notice-detail-cont input.advertise {width: 20%;}
.wrap-cont-box .notice-detail-top ul li.notice-detail-cont span {margin: 0 10px;}
.wrap-cont-box .notice-detail-top ul li:nth-child(1) {width:15%;}
.wrap-cont-box .notice-detail-top ul li:nth-child(2) {width:85%}

.wrap-cont-box .btn-all {width:100%;height:40px;background:#ddd}
/* .wrap-cont-box .textarea {margin-top:20px} */

.wrap-cont-box .attach {margin-top:20px; border:1px solid #bbbbbb}
.wrap-cont-box .attach-box {height:80px; background:#fff; border-bottom:1px solid #bbbbbb}
.wrap-cont-box .attach-box p {text-align: center;line-height: 80px;}
.wrap-cont-box .attach_btn {display:flex; justify-content: space-between; padding:10px 15px}

.wrap-cont .notice-detail-btn {display:flex; justify-content: center;}
.wrap-cont .notice-detail-btn a {margin:20px 0 10px;padding:10px 40px;color:#fff}
.wrap-cont .notice-detail-btn .btn-delete {background:gray;}
.wrap-cont .notice-detail-btn .btn_notice_detail {background:#006551; margin-left:5px;}







/* 토글 스위치 :: 0622  */
.switch {position: relative;display: inline-block;width: 60px;height: 34px;}
.switch input {opacity: 0;width: 0;height: 0;}
.slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.slider:before {position: absolute;content: "";height: 26px;width: 26px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
input:checked + .slider {background-color: #2196F3;}
input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}
.slider.round {border-radius: 34px;}
.slider.round:before {border-radius: 50%;}
img.trash {width: 30px; height: 30px;}

/* 이벤트 추가(수정) 페이지 */
.line-tabs{width: 100%; height: 46px; display: flex; justify-content: flex-start;}
.line-tabs .tab {width: 50%; height: 100%; cursor: pointer; background: #ece6e0; padding:16px; text-align: center;} 
.line-tabs .tab.active{background: tomato; color: white;}

.line-group {padding: 5px; border: 1px solid #ddd;}
.line-group.hide {display: none;}

.line {width: 100%; min-height: 46px; border : 1px solid #ddd; display: flex; align-items: center; margin-bottom:5px}
.line.hide {display: none;}
.line .tit {width: 20%; padding : 5px; text-align: center; border-right : 2px double #ddd}
.line .content {width: calc(100% - 20%); padding : 5px}
.line .content.radio-group {display: flex; align-items: center;}
.line .content.radio-group input[type="radio"] {appearance: auto !important; width: fit-content; margin-right: 5px;}
.line .content.radio-group label {font-size: 14px; margin-right: 5px;}
.line .content select {width: 100%;}
.line .content textarea {min-height: 100px;}
.line .content .img-list {width: 100%; height: auto; overflow-y:hidden; white-space: nowrap; padding: 10px;}
.line .content .img-list .event-img {height:100%; width: 400px; margin-right: 20px; display: inline-block; position: relative;}
.line .content .img-list .event-img h3 {margin-bottom:5px}
.line .content .img-list .event-img .img-wrap {width:100%; height: 200px; margin-bottom: 5px;}
.line .content .img-list .event-img .img-wrap img {width:100%; height: 100%; border: 1px solid #ddd}
.line .content .img-list .event-img .img-wrap img.no-img {object-fit: none;}
.line .content .img-list .event-img .txt-wrap {width: 100%; display: flex; align-items: center}
.line .content .img-list .event-img .txt-wrap label { border: 1px solid #ddd; padding: 12px; background: whitesmoke; cursor: pointer;}
.line .content .img-list .event-img .txt-wrap input { padding : 13px;}
.btn-group{ display: flex; justify-content:center; padding: 10px 0;}
.btn-group a {margin: 20px 0 10px; padding: 10px 40px; color:#fff; cursor: pointer;}
.btn-group a.cancel {background: gray}
.btn-group a.confirm {margin-left: 5px; background:#006551;}

/* 업로드 중... */
.uploading {position:fixed; top:0; left:0; width:100%; height: 100%; background: rgba(0,0,0,0.2); z-index: 1000; display: flex; flex-direction: column; justify-content: center; align-items: center;}
.uploading.hide {display: none;}
.uploading img {width: 44px; height: 44px;}

/* 대시보드 */
.dashboard {padding : 0 20px;}
.dashboard .wrap-tit {padding : 20px 0 40px 0;}
.dashboard .wrap-tit h2 {font-size: 20px;}
.dashboard .wrap-cont {padding: 60px 0 20px 0;}
.dashboard .wrap-cont .situation{display: flex; justify-content: start; flex-wrap: wrap;}
.dashboard .wrap-cont .situation .box{width: 250px; height: 120px; box-shadow: 1px 1px 5px #889198; border-radius: 5px; margin: 0 30px 30px 0;}
.dashboard .wrap-cont .situation .box .top {height: 85px; position: relative;}
.dashboard .wrap-cont .situation .box .top .img{position: absolute; top: -15px; left: 15px; z-index:100; width: 75px; height: 75px; border-radius: 3px; box-shadow: 0 0 5px 0 #afa4a4; padding: 5px;}
.dashboard .wrap-cont .situation .box .top .img.orange {border: 1px solid orange; background: orange;}
.dashboard .wrap-cont .situation .box .top .img.green {border: 1px solid #27ac39; background: #27ac39;}
.dashboard .wrap-cont .situation .box .top .img.red {border: 1px solid #f66a37; background: #f66a37;}
.dashboard .wrap-cont .situation .box .top .img.blue {border: 1px solid #2596be; background: #2596be;}
.dashboard .wrap-cont .situation .box .top .txt {width: calc(100% - 100px); margin-left: 100px; height: 100%; padding: 0 10px;}
.dashboard .wrap-cont .situation .box .top .txt .tit {text-align: right; font-size: 14px; font-weight: bold; padding: 10px 0;}
.dashboard .wrap-cont .situation .box .top .txt .num {text-align: right; font-size: 25px; padding: 10px 0;}
.dashboard .wrap-cont .situation .box .bot {height: calc(100% - 85px); border-top:1px solid #889198; padding: 10px; display: flex; justify-content: space-between;}

/* 이벤트 참여 리스트 */
.partiLists {display: flex; flex-wrap: wrap; padding: 20px 0; justify-content: flex-start;}
.partiLists .parti {width: 250px; height: 350px; border:1px solid black; padding: 10px; margin-right: 30px; margin-bottom: 30px; cursor: pointer;}
.partiLists .parti:hover{background: rgba(37, 132, 226, 0.479);}
.partiLists .parti a{width: 100%; height: 100%;}
.partiLists .parti .img_box{width: 100%; height: 200px}
.partiLists .parti .img_box img{width: 100%; height:100%; object-fit: cover;}
.partiLists .parti .txt_box{width: 100%; height: calc(100% - 200px); padding: 5px; display: flex; flex-direction: column; justify-content: center;}
.partiLists .parti .txt_box .txt{padding:10px 0; display: flex; justify-content: space-between;}
.partiLists .parti .txt_box .txt .strong {font-weight: bold; font-size: 18px;}

/* 상세보기 */
.detail-wrap{padding: 10px}
.detail-wrap h3 {padding: 10px 0}
.detail-wrap .br {width:100%; height:20px;}
.detail-wrap .line .tit {font-size: 14px}
.swiper-pagination {width: 100%}
.loading {position: fixed;top: 0;left: 0;width: 100%;height: 100%;display: flex;flex-direction: column;justify-content: center;z-index: 1001;background: rgba(0,0,0,0.3);align-items: center;}
.loading.hide {display: none;}
.loading .msg {display: flex; flex-direction: column; text-align: center;}
.loading .msg span{padding:5px}
.loading img {width: 45px; height: 45px}
video{width: 100%; height: 100%;}

/* 공지사항 이벤트 통합 */
.writing-type li>a {display: inline; font-size: 25px; color: gray;}
.writing-type li>a.active {color: black; font-weight: 600;}
.writing-type li>a:not(.active):hover {color: tomato;}
.writing-type li::after { content: "•"; padding-left:10px; font-size: 25px;}
.writing-type li:last-child::after {content: "";}

/* -- 에디터 버튼  */
.textarea {height: 600px;}
.textarea button {min-width: auto;}