@font-face {
    font-family: 'KoreanFrenchTypewriter';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/KoreanFrenchTypewriter.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color:#e4dcd2;
    margin:0px;
}

a {
    cursor:pointer;
    text-decoration:none;
}

.cat {
    z-index:-1;
    position:fixed;
    right:0;
    bottom:0;
    max-height:75%;
}

.hide {
    display:none;
}

.text {
    padding:60px 100px;
    margin-left:10px;
}

.text span {
    display:block;
}

.text>img {
    display:block;
}

#text1 {
    margin-top:10px;
}

#text2 {
    position: fixed;
    font-family: 'KoreanFrenchTypewriter';
    font-size: 35px;
    right: 540px;
    margin-top: 80px;
}

.buttons {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding:0px;
    margin-bottom:70px;
}

.buttons a {
    margin:0px 10px;
}

.company-info {
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    margin-bottom:40px;
    font-size:13px;
}

.company-info>span::after {
    content:' |';
    margin:0px 5px;
}

.company-info>span:last-child::after {
    content:'';
}

.copyright {
    font-size:14px;
    position:fixed;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    margin-bottom:20px;
}

.company-info-m {
    display:none;
}

.popup {
    z-index: 2;
    position: fixed;
    left: 50%;
    top: 50%;
    background-color: #ffffff;
    font-size: 23px;
    padding: 20px 20px 40px 20px;
    width: 280px;
    transform: translate(-50%, -50%);
    text-align:center;
    border-radius: 15px;
}

.mask {
    z-index: 1;
    position:fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color:#000000aa;
}

.sns {
    padding:20px;
    position: fixed;
    top:0;
    right:0;
}
.sns img {
    height:40px;
    vertical-align: middle;
    margin:5px;
}


@media (max-width:768px) {
    .text {
        padding:45px 0px 0px 0px;
        margin:0px;
        width:100%;
        text-align:center;
    }

    .text span {
        display: inline-block;
    }

    .text span img {
        height:45px;
    }

    #text1 {
        padding: 30px;
        width: 160px;
    }

    #text2 {
        position:absolute;
        font-size:25px;
        text-align:left;
        left:10%;
        top:5%;
        right:0;
    }

    #text2 span {
        display:block;
    }
    

    .buttons {
        padding:0px;
        margin:0px 0px 78px 0px;
    }

    .buttons a {
        margin:0px;
    }

    .buttons img{
        width:150px;
    }

    .popup {
        padding: 10px 10px 40px 10px;
    }

    .copyright {
        font-size:11px;
        margin-bottom:10px;
    }

    .company-info {
        display:none;
    }

    .company-info-m {
        display:block;
        font-size:10px;
        text-align:center;
        position:fixed;
        width:100%;
        bottom:25px;
    }

    .company-info-m>div>span:first-child {
        margin:0px 5px;
    }

    .sns {
        padding:10px;
    }

    .sns img {
        height:25px;
        vertical-align: middle;
        margin:3px;
    }
}
