@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@font-face {
  font-family: "Noto Sans KR", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
}
@font-face {
  font-family: "ONE-Mobile-POP";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/ONE-Mobile-POP.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NotoSerifKR";
  font-weight: 400;
  src: url("/font/NotoSerifKR-Regular.otf");
}
@font-face {
  font-family: "NotoSansKR";
  font-weight: 400;
  src: url("/font/NotoSansKR-Regular.otf");
}
@font-face {
  font-family: "NanumGothic";
  font-weight: 400;
  src: url("/font/NanumGothic-Regular.ttf");
}
@font-face {
  font-family: "GothicA1";
  font-weight: 400;
  src: url("/font/GothicA1-Regular.ttf");
}
@font-face {
  font-family: "BlackHanSans";
  font-weight: 400;
  src: url("/font/BlackHanSans-Regular.ttf");
}
/*===========================================================================
	CSS 초기화
============================================================================*/
* {
  font-family: "Noto Sans KR", "Open Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
em,
img,
strong,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
menu,
nav,
section,
video,
a {
  border: 0;
  outline: 0;
  font-size: 100%;
  color: #262626;
  line-height: 1.5;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul,
ol,
li {
  list-style: none;
}
strong {
  display: inline-block;
}
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
select {
  vertical-align: middle;
}
p {
  line-height: 1.5;
}
img {
  width: 100%;
  object-fit: cover;
}
span {
  display: inline-block;
}
input {
  outline: none;
}
label {
  font-size: 18px;
}
button {
  cursor: pointer;
  color: #fff;
}
a {
  display: block;
  text-decoration: none;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
button,
textarea {
  border: 1px solid #cfd0d7;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
}
select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
}
textarea {
  resize: none;
  padding: 14px;
  font-size: 16px;
  outline: none;
}
.col-group {
  display: flex;
  align-items: center;
}
.row-group {
  display: flex;
  flex-direction: column;
}

/*===========================================================================
	공통요소
============================================================================*/
#wrap {
  overflow: hidden;
  box-sizing: border-box;
}
#wrap .sub-head {
  z-index: 99;
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  height: calc(constant(safe-area-inset-top) + 48px);
  height: calc(env(safe-area-inset-top) + 48px);
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
  padding: 0 16px;
  padding: calc(constant(safe-area-inset-top)) 16px 0 16px;
  padding: calc(env(safe-area-inset-top)) 16px 0 16px;
  background: #fff;
}
#wrap .sub-body {
  min-height: calc(100vh - 48px);
  margin-top: 48px;
  padding: 0 32px;
}
#wrap .sub-body .sub-cont {
  min-height: 0;
  margin-top: 0;
}
#wrap .sub-cont {
  min-height: calc(100vh - 96px);
  margin-top: 48px;
  margin-top: calc(constant(safe-area-inset-top) + 48px);
  margin-top: calc(env(safe-area-inset-top) + 48px);
}
#wrap .sub-cont02 {
  min-height: calc(100vh - 96px);
  margin-top: 48px;
  margin-top: calc(constant(safe-area-inset-top) + 48px);
  margin-top: calc(env(safe-area-inset-top) + 48px);
}

#wrap .container-all {
  padding: 24px 16px;
}
#wrap .container {
  padding: 0 16px;
}
#wrap .container-box {
  padding: 16px;
}
#wrap .login-container {
  padding: 0 32px;
}

.back-wrap {
  background: #f2f2f2;
}

.sub-head p {
  font-size: 16px;
  font-weight: bold;
}
.sub-head img {
  width: 24px;
  height: 24px;
}
.sub-head .no-img {
  opacity: 0;
}

.no-my-img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid #eaeaea;
  object-fit: contain;
  padding: 2px;
}

.main-wrap .sub-head .logo img {
  width: 95px;
  height: 20px;
}

.main-wrap .search-head {
}
.main-wrap .search-head p {
  width: calc(100% - 32px);
  background: #f8f8f8;
  border-radius: 6px;
}
.main-wrap .search-head p img {
  width: 18px;
  height: 18px;
  margin-left: 8px;
}
.main-wrap .search-head p input {
  border: 0;
  background: #f8f8f8;
  padding: 9px 8px;
}
.main-wrap .search-head p input::placeholder {
  color: #bdbdbd;
}

.main-wrap .together-wrap .search-head p {
  width: 100%;
}
.main-wrap .together-wrap .search-head input {
  width: 100%;
}

.login-wrap {
  overflow: hidden;
  box-sizing: border-box;
}
.login-wrap .container {
  width: 100%;
  padding: 0 32px;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 50px;
}

.main-wrap .container {
  width: 100%;
  padding: 0 16px;
  overflow: hidden;
  box-sizing: border-box;
}

.call-member {
  font-size: 12px;
  padding: 0 2px;
  background: #f3c8c2;
}
/*===========================================================================
	네비게이션
============================================================================*/
#nav {
  z-index: 99;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 48px;
  background: #fff;
  box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 20px 20px 0 0;
}
#nav .col-group {
  justify-content: space-around;
}
#nav .col-group .bell {
  position: relative;
}
#nav .col-group .bell .red-dot {
  position: absolute;
  top: 0;
  right: 1px;
  width: 10px;
  height: 10px;
  background: red;
  box-shadow: 0 0 3px 0 #ddd;
  border-radius: 5px;
}
#nav .col-group .bell .red-dot.hide {
  display: none;
}

/* 새로운 알림 있을때만 */
.pagination {
  margin-top: 40px;
  justify-content: center;
}
.pagination a {
  width: 34px;
  height: 34px;
  line-height: 30px;
  border: 1px solid #dedede;
  border-right: 0;
  text-align: center;
}
.pagination a:last-child {
  border-right: 1px solid #dedede;
}
/*===========================================================================
	테이블
============================================================================*/
table {
  width: 100%;
  font-size: 14px;
  border-collapse: collapse;
  border-spacing: 0;
}
table tr {
  border-bottom: 1px solid #e2e2e2;
  font-size: 12px;
}
table th {
  padding: 10px 0;
  border-top: 2px solid #bdbdbd;
  font-size: 12px;
}
table td {
  padding: 11px 2px;
  vertical-align: middle;
  text-align: center;
  color: #828282;
} /* height:140px;  */
table td button {
  padding: 2px 12px;
  border-radius: 84px;
  color: #262626;
  font-size: 11px;
}
table td a {
  color: #828282;
}
table td.tit a {
  overflow: hidden;
  white-space: normal;
  line-height: 1.3;
  text-align: left;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
table .btn-group {
  display: flex;
  justify-content: center;
}
table .btn-group a {
  line-height: 1;
}
table .btn-group a {
  float: left;
}
table .btn-modify {
  background: #006551;
}
table .btn-delete {
  background: gray;
  margin-left: 10px;
}
table .btn_enquiry_delete {
  background: gray;
  margin-left: 0px;
}

/*===========================================================================
	팝업
============================================================================*/
.pop-wrap {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.pop-wrap.show {
  display: block;
}
.pop-wrap .pop-group {
  width: 800px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px 30px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 5px 15px rgb(0 0 0 / 50%);
}
.pop-wrap .pop-group .pop-header {
  margin-bottom: 20px;
}
.pop-wrap .pop-group .pop-header .close-btn {
  text-align: right;
  cursor: pointer;
}
.pop-wrap .pop-group .pop-header .close-btn img {
  width: 34px;
}
.pop-wrap .pop-group .pop-body .txt-box {
  margin-bottom: 20px;
}
.pop-wrap .pop-group .pop-body .txt-box h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.pop-wrap .pop-group .pop-body .video-box {
  text-align: center;
}

/*===========================================================================
	포스터
============================================================================*/
.post-group ul {
  flex-wrap: wrap;
}
.post-group ul li {
  width: calc(25% - 8px);
  margin: 0 10px 10px 0;
  padding: 10px;
}
.post-group ul li:nth-child(4n) {
  margin-right: 0;
}
.post-group ul li .img-box {
  height: 200px;
}
.post-group ul li .img-box img {
  height: 100%;
}

/*===========================================================================
	포스터 상세페이지
============================================================================*/
.post-detail {
  border: 1px solid #e1e1e1;
  padding: 20px;
  border-radius: 2px;
}
.post-detail .detail-header {
  margin-bottom: 40px;
}
.post-detail .detail-header .tit {
  font-size: 26px;
  margin-bottom: 14px;
}
.post-detail .detail-header .date {
  color: #999;
}
.post-detail .news-contents {
  font-size: 18px;
}
.post-detail .news-contents p {
  line-height: 1.8;
}
.btn-group {
  margin-top: 30px;
  text-align: right;
}

/*===========================================================================
	카탈로그
============================================================================*/
.catalog-group {
  margin-bottom: 40px;
}
.catalog-group li {
  position: relative;
}
.catalog-group li p {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  padding: 14px;
  font-size: 20px;
  font-weight: 600;
  background: rgba(255, 255, 255, 0.8);
  transition: 0.4s;
}
.catalog-group li:hover p {
  background: #004563;
  color: #fff;
}
.catalog-group {
  margin-bottom: 40px;
}
.catalog-group li {
  position: relative;
  width: calc(100% / 3);
  cursor: pointer;
}
/*===========================================================================
	문의하기 form
============================================================================*/
.form-list {
  margin-bottom: 20px;
}
.form-list label {
  width: 200px;
}
.form-list input {
  width: 60%;
  height: 50px;
}
.form-list textarea {
  width: 60%;
  height: 300px;
}
.agree-info-group .tit {
  font-size: 24px;
  font-weight: 300;
  margin: 80px 0 40px;
}
.agree-info-group p {
  font-size: 20px;
  color: #333;
  font-weight: 300;
}
.agree-info-group .collect-info {
  height: 180px;
  margin: 20px 0;
  border: 1px solid #d1d1d1;
  color: #666;
}
.agree-info-group .agree-box {
  margin-bottom: 40px;
}
.agree-info-group .agree-box label input {
  vertical-align: inherit;
}
.agree-info-group .agree-box label span {
  margin: 0 6px;
}
.agree-info-group .agree-box input[type="radio"]:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  top: 0px;
  left: 0px;
  position: relative;
  background-color: #5b86a3;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid #5b86a3;
}
/*===========================================================================
	헤더
============================================================================*/
header {
  position: relative;
}
header .col-group {
  justify-content: space-between;
  padding: 10px 0;
}
header .logo {
  width: 110px;
}
header .gnb .info-group {
  display: flex;
  justify-content: flex-end;
}
header .gnb .info-group span {
  color: #999;
  margin-left: 10px;
}
header .gnb .nav-group > li {
  position: relative;
  margin-left: 30px;
}
header .gnb .nav-group > li > a {
  display: block;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}
header .gnb .nav-group > li .sub-menu {
  z-index: 20;
  position: absolute;
  top: 50px;
  left: -18px;
  width: 160px;
  padding: 20px;
  background: #fff;
  border: 1px solid #eee;
}
header .gnb .nav-group > li .sub-menu li a {
  line-height: 32px;
}
header .gnb .nav-group > li .search-btn {
  border: 0;
  background: none;
}
header .gnb .open-search-group {
  display: none;
  position: absolute;
  left: 0;
  bottom: -194px;
  width: 100%;
  padding: 60px 0;
  background: rgba(255, 255, 255, 0.9);
  border-top: 2px solid #dbdbdb;
  border-bottom: 2px solid #dbdbdb;
}
header .gnb .open-search-group.show {
  z-index: 10;
  display: block;
}
.search-box {
  width: 520px;
  justify-content: center;
  margin: 0 auto;
}
.search-box input {
  width: 400px;
  height: 50px;
  font-size: 16px;
}
.search-box button {
  height: 50px;
  width: 120px;
  font-size: 18px;
}

/*===========================================================================
	푸터
============================================================================*/

/*===========================================================================
	반응형
============================================================================*/
@media (max-width: 768px) {
}

@media (max-width: 480px) {
}

.swiper-lazy-preloader {
  height: 100%;
  display: flex;
  align-items: center;
}
