@font-face {
    font-family: "NotoSerifKR";
    font-weight: 400;
    src: url('/font/NotoSerifKR-Regular.otf');
}
@font-face {
    font-family: "NotoSansKR";
    font-weight: 400;
    src: url('/font/NotoSansKR-Regular.otf');
}
@font-face {
    font-family: "NanumGothic";
    font-weight: 400;
    src: url('/font/NanumGothic-Regular.ttf');
}
@font-face {
    font-family: "GothicA1";
    font-weight: 400;
    src: url('/font/GothicA1-Regular.ttf');
}
@font-face {
    font-family: "BlackHanSans";
    font-weight: 400;
    src: url('/font/BlackHanSans-Regular.ttf');
}