/*===========================================================================
	로그인/회원가입/아이디찾기
============================================================================*/
/* 로그인 여부 확인 */
.isMember {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.isMember.hide {
  display: none;
}
.isMember img {
  width: 44px;
  height: 44px;
}

.login-wrap .logo {
  width: 100%;
  margin: 0 auto;
  padding-top: 86px;
}
.login-wrap .logo a {
  display: block;
  width: 167px;
  height: 32px;
  margin: 0 auto;
}

.login-wrap .login-form {
  padding-top: 72px;
}
.login-wrap .login-form .col-group {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
  padding-bottom: 12px;
}
.login-wrap .login-form .col-group span {
  position: absolute;
  top: 40px;
  left: 0;
  color: #e03616;
  font-size: 11px;
}
.login-wrap .login-form .col-group:first-child {
  margin-bottom: 36px;
}
.login-wrap .login-form .col-group > img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.login-wrap .login-form .col-group.red-login {
  border-bottom: 1px solid #e03616;
}
.login-wrap .login-form .col-group.red-login.last {
  margin-bottom: 20px;
}
.login-wrap .login-form .col-group input {
  width: 250px;
  border: 0;
  font-size: 16px;
}
.login-wrap .login-form .col-group input::placeholder {
  font-size: 16px;
  color: #e0e0e0;
}

.login-wrap .col-group .no-eyes {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 10px;
  right: 16px;
  background: url(../images/icon/icon-noeyes.svg) no-repeat;
  cursor: pointer;
}
.login-wrap .col-group .eyes {
  width: 16px;
  height: 16px;
  background: url(../images/icon/icon-eyes.svg) no-repeat;
}

.login-wrap .btn-login {
  width: 100%;
  padding: 13px 0;
  background: #fa6650;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 24px;
}
.login-wrap .btn-login:hover {
  background: #c4c4c4;
}
.login-wrap .btn-login-more {
  justify-content: center;
  padding-top: 12px;
}
.login-wrap .btn-login-more a {
  position: relative;
  padding: 0 12px;
  font-size: 12px;
}
.login-wrap .btn-login-more a:first-child {
  color: #828282;
}
.login-wrap .btn-login-more a::after {
  content: " ";
  position: absolute;
  width: 1px;
  height: 13px;
  top: 0;
  left: 0;
  background: #e0e0e0;
}
.login-wrap .btn-login-more a:first-child::after {
  content: none;
}

.login-wrap .btn-sns {
  position: relative;
  padding-top: 52px;
}
.login-wrap .btn-sns .sns-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login-wrap .btn-sns .sns-login span:nth-child(1) {
  width: calc(50% - 40px);
  border: 1px solid #bdbdbd;
}
.login-wrap .btn-sns .sns-login span:nth-child(2) {
  width: 100px;
  color: #bdbdbd;
  padding: 4px 12px;
  font-size: 12px;
  text-align: center;
}
.login-wrap .btn-sns .sns-login span:nth-child(3) {
  width: calc(50% - 40px);
  border: 1px solid #bdbdbd;
}

.login-wrap .btn-sns .login-box {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.login-wrap .btn-sns .login-box span {
  position: relative;
  font-size: 11px;
  padding: 7px 10px;
  border-radius: 20px;
  box-shadow: 5px 5px 6px 0 rgba(0, 0, 0, 0.1);
}
.login-wrap .btn-sns .login-box::after {
  content: "▼";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}

.login-wrap .btn-sns .btn-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-wrap .btn-sns .btn-group .btn-container {
  width: 300px;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 16px;
  margin-bottom: 5px;
}
.login-wrap .btn-sns .btn-group .btn-container img {
  width: 24px;
}
.login-wrap .btn-sns .btn-group .btn-container p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.login-wrap .btn-sns .btn-group .btn-container.kakao {
  background-color: #fee500;
  border-radius: 5px;
}
.login-wrap .btn-sns .btn-group .btn-container.kakao p {
  color: rgba(0, 0, 0, 0.85);
}
.login-wrap .btn-sns .btn-group .btn-container.facebook {
  background-color: #4267b2;
  border-radius: 5px;
}
.login-wrap .btn-sns .btn-group .btn-container.facebook p {
  color: white;
}
.login-wrap .btn-sns .btn-group .btn-container.facebook strong {
  color: white;
}
.login-wrap .btn-sns .btn-group .btn-container.apple {
  background-color: black;
  border-radius: 5px;
  padding: 0 5px;
}
.login-wrap .btn-sns .btn-group .btn-container.apple img {
  width: 44px;
}
.login-wrap .btn-sns .btn-group .btn-container.apple p {
  color: white;
}
.login-wrap .btn-sns .btn-group .btn-container.google {
  border-radius: 5px;
  border: 1px solid #ddd;
}
.login-wrap .btn-sns .btn-group .btn-container.google p {
  color: black;
}
.login-wrap .btn-sns .btn-group .btn-container.naver {
  background-color: #03c75a;
  border-radius: 5px;
  padding: 0 5px;
}
.login-wrap .btn-sns .btn-group .btn-container.naver img {
  width: 44px;
}
.login-wrap .btn-sns .btn-group .btn-container.naver p {
  color: white;
}

/* 로그인 성공 */
.join-wrap .container {
  position: relative;
  padding: 0 33px;
}
.join-wrap .sussess-box {
  display: flex;
  width: 100%;
  height: calc(100vh - 48px);
  justify-content: center;
  align-items: center;
}
.join-wrap .sussess-box div {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.join-wrap .sussess-box div img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  text-align: center;
}
.join-wrap .sussess-box div p {
  font-size: 20px;
  color: #fa6650;
  font-weight: bold;
}

/* 이벤트 성공 */
.join-wrap .sussess-box div .event-img {
  width: 71px;
  height: 61px;
  margin: 0 auto;
  text-align: center;
}

/* 회원가입 */
.join-wrap .sub-body {
  position: relative;
}
.join-wrap .sub-body .sub-tit {
  justify-content: space-between;
  align-items: center;
  padding: 48px 0 60px;
  text-align: left;
}
.join-wrap .sub-body .sub-tit div {
  text-align: left;
}
.join-wrap .sub-body .sub-tit h2 {
  font-size: 28px;
  padding-bottom: 8px;
}
.join-wrap .sub-body .sub-tit p {
  font-size: 14px;
  color: #4f4f4f;
}
.join-wrap .sub-body .sub-tit .chapter p {
  width: 5px;
  height: 5px;
  border-radius: 20px;
  background-color: #bdbdbd;
  margin: 0 2px;
}
.join-wrap .sub-body .sub-tit .chapter p.active {
  background-color: #fa6650;
}
.join-wrap .sub-body .find-tit h4 {
  padding-top: 48px;
  text-align: center;
}

.join-wrap .btn-login {
  margin-top: 0;
}
.join-wrap .btn-login:hover {
  background-color: #fa6650;
}

.join-wrap .btn-foot {
  width: 100%;
  margin-top: 100px;
}
.join-wrap .btn-foot .btn-login {
  width: 100%;
}

/* 이용약관 */
.join-wrap .sub-body .sub-cont .check-privacy {
  position: relative;
  margin-bottom: 20px;
}
.join-wrap .sub-body .sub-cont h3.check-privacy label {
  font-size: 14px;
}
.join-wrap .sub-body .sub-cont h3.check-privacy label span {
  margin-left: 8px;
}
.join-wrap .sub-body .sub-cont .check-privacy div label {
  font-size: 12px;
}
.join-wrap .sub-body .sub-cont .check-privacy div label span {
  margin-left: 8px;
}
.join-wrap .sub-body .sub-cont .check-privacy input[type="checkbox"] {
  display: none;
}
.join-wrap .sub-body .sub-cont .check-privacy input[type="checkbox"] + label {
  display: inline-block;
  cursor: pointer;
  line-height: 22px;
  padding-left: 22px;
  background: url(../images/check-b.svg) no-repeat;
  background-size: 24px 24px;
}
.join-wrap
  .sub-body
  .sub-cont
  .check-privacy
  input[type="checkbox"]:checked
  + label {
  background: url(../images/check.png) no-repeat;
  background-size: 24px 24px;
}
.join-wrap .sub-body .sub-cont .check-privacy p {
  position: absolute;
  right: 0;
  font-size: 11px;
  color: #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}

.join-wrap .sub-privacy {
  padding-top: 30px;
}
.join-wrap .sub-privacy div {
  padding-bottom: 12px;
}
.join-wrap .sub-privacy h3 {
  font-size: 14px;
  padding-bottom: 12px;
  white-space: -0.5px;
}
.join-wrap .sub-privacy h4 {
  font-size: 12px;
  line-height: 21px;
  font-weight: normal;
  white-space: -0.5px;
}
.join-wrap .sub-privacy p {
  font-size: 12px;
  line-height: 21px;
  padding-left: 15px;
  white-space: -0.5px;
}

/* 회원정보 입력 */
.join-wrap .login-form {
  padding-top: 0;
}
.join-wrap .login-form > div > p {
  font-size: 12px;
  color: #4f4f4f;
  padding-bottom: 6px;
}
.join-wrap .login-form .col-group {
  padding: 0;
  margin-bottom: 24px;
}
.join-wrap .login-form .col-group.last {
  margin-bottom: 0;
}
.join-wrap .login-form .col-group input {
  border: 0;
  padding: 10px 0;
}
.join-wrap .login-form .col-group .box {
  display: flex;
  align-items: center;
}
.join-wrap .login-form .col-group .btn-close {
  border: 0;
  background: none;
}
.join-wrap .login-form .col-group .btn-close img {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.join-wrap .login-form .col-group .no-eyes {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 14px;
  right: 16px;
  background: url(../images/icon/icon-noeyes.svg) no-repeat;
  cursor: pointer;
  border: 0;
}
.join-wrap .login-form .col-group .eyes {
  width: 16px;
  height: 16px;
  background: url(../images/icon/icon-eyes.svg) no-repeat;
}
.join-wrap .login-form .col-group span {
  top: 45px;
}

/* 계정찾기 */
.find-wrap .sub-body .sub-tit {
  text-align: center;
}
.find-wrap .sub-cont {
  padding-top: 24px;
}
.find-wrap .sub-cont div > p {
  font-size: 14px;
  border-bottom: 1px solid #fa6650;
  padding-bottom: 8px;
}

.sub-cont div.radio-box {
  margin-bottom: 48px;
}
.sub-cont div.radio-box ul li {
  padding: 9px 0;
  justify-content: space-between;
}
.sub-cont div.radio-box ul li label span {
  font-size: 12px;
  padding-left: 8px;
  font-weight: bold;
}
.sub-cont div.radio-box ul li > span {
  float: right;
  font-size: 12px;
  color: #8e8e8e;
}
.sub-cont div.radio-box ul li input[type="radio"] {
  display: none;
}
.sub-cont div.radio-box ul li input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;
  line-height: 20px;
  padding-left: 20px;
  background: url(../images/icon/icon-radio-off.svg) no-repeat;
  background-size: 20px 26px;
}
.sub-cont div.radio-box ul li input[type="radio"]:checked + label {
  background: url(../images/icon/icon-radio-on.svg) no-repeat;
  background-size: 20px 26px;
}

.find-wrap .sub-cont div.change-box .col-group {
  align-items: center;
  padding-top: 16px;
}
.find-wrap .sub-cont div.change-box .col-group div {
  position: relative;
  width: calc(100% - 82px);
}
.find-wrap .sub-cont div.change-box .col-group input {
  width: 100%;
  padding: 12px 0 12px 10px;
  border-radius: 4px;
}
.find-wrap .sub-cont div.change-box .col-group input::placeholder {
  font-size: 14px;
}
.find-wrap .sub-cont div.change-box .col-group p {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 15px;
  right: 16px;
  cursor: pointer;
  border-bottom: 0;
}
.find-wrap .sub-cont div.change-box .col-group button {
  width: 82px;
  margin-top: 0;
  float: right;
  margin-left: 8px;
  padding: 12px 0;
  font-size: 12px;
}
.find-wrap .foot-box {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 64px);
}
.find-wrap .foot-box div {
  display: flex;
  justify-content: space-between;
}
.find-wrap .foot-box div .btn-login {
  margin-top: 0;
}

.find-wrap button.gray {
  margin-right: 12px;
}
.find-wrap button.red {
  background: #fa6650;
  margin: 0;
}

/* 팝업 */
.join-wrap-popup {
  z-index: 9999;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  margin: 0;
}
.join-wrap-popup.hide {
  display: none;
}
.join-wrap-popup .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px 4px 0 0;
  background: #fff;
}
.join-wrap-popup .inner .inner-box {
  width: 275px;
  height: auto;
}
.join-wrap-popup .inner .inner-box div {
  height: 105px;
}
.join-wrap-popup .inner .inner-box h3 {
  text-align: center;
  padding: 16px 0 10px;
}
.join-wrap-popup .inner .inner-box p {
  padding: 0;
  height: 105px;
  font-size: 14px;
  padding-bottom: 16px;
  text-align: center;
  line-height: 24px;
  letter-spacing: -0.7px;
}
.join-wrap-popup .inner .inner-box button {
  width: 100%;
  height: 44px;
  padding: 13px 0;
  font-size: 14px;
  color: #000;
  text-align: center;
  background: none;
  border: 0;
  background: #fff;
  border-radius: 0 0 4px 4px;
}

.find-wrap-popup .inner .inner-box p {
  padding: 29px 0;
}

/*===========================================================================
	메인
============================================================================*/
.main-wrap {
  padding-bottom: 48px;
}

.main-wrap .sub-cont .event-box {
  position: relative;
  background: #fff;
}
.main-wrap .sub-cont .event-box li {
}
.main-wrap .sub-cont .event-box .click-event {
  z-index: 999;
  position: absolute !important;
  top: 40px;
  left: 0;
  width: 100%;
  height: auto;
  padding: 16px;
  background: #fff;
}
.main-wrap .sub-cont .event-box li a.col-group {
  width: 100%;
  padding: 8px 16px;
  justify-content: space-between;
  align-items: center;
}
.main-wrap .sub-cont .event-box span {
  font-size: 11px;
  background: tomato;
  color: #fff;
  border-radius: 20px;
  white-space: nowrap;
  padding: 5px 10px;
  margin-right: 8px;
}
.main-wrap .sub-cont .event-box p {
  font-size: 12px;
  white-space: nowrap;
  color: #4f4f4f;
  overflow: hidden;
  width: calc(100vw - 200px);
  text-overflow: ellipsis;
}
.main-wrap .sub-cont .event-box img {
  width: 18px;
}

.main-wrap .sub-cont .rank-box {
  width: 100%;
  height: 200px;
  background: url(../images/back-img.png);
  margin-bottom: 10px;
  background-size: contain;
}
.main-wrap .sub-cont .rank-box h2 {
  color: #fff;
  font-size: 21px;
  padding: 16px;
}
.main-wrap .sub-cont .rank-box h2 img {
  width: 28px;
  height: 28px;
  margin-right: 5px;
}
.main-wrap .sub-cont .rank-box ul {
  padding-left: 16px;
  height: fit-content;
}
.main-wrap .sub-cont .rank-box ul li {
  /* margin-right: 20px; */
  position: relative;
}
.main-wrap .sub-cont .rank-box ul li p {
  font-size: 12px;
  color: #828282;
  text-align: center;
  padding-top: 17px;
}
.main-wrap .sub-cont .rank-box ul li div {
  width: 100px;
  height: 100px;
  background: #fff;
  border-radius: 30px;
  box-shadow: 2px 4px 6px 0 rgba(0, 0, 0, 0.1);
}
.main-wrap .sub-cont .rank-box ul li img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.main-wrap .sub-cont .rank-box ul li .img-box {
  position: relative;
}
.main-wrap .sub-cont .rank-box ul li .img-box a {
  width: 100%;
  height: 100%;
}
.main-wrap .sub-cont .rank-box ul li .img-box a img {
  width: 100%;
  height: 100%;
}
.main-wrap .sub-cont .rank-box ul li .img-box .btn-heart {
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: -10px;
  left: 50%;
  width: 24px;
  height: 24px;
  transform: translateX(-50%);
  border-radius: 100%;
  padding: 6px 5.5px;
}
.main-wrap .sub-cont .rank-box ul li .img-box .btn-heart img {
  width: 12.5px;
  height: 11px;
}

.main-wrap .sub-cont .rank-box ul li .cnt-box {display: flex; justify-content: space-evenly; align-items: center; gap: 5px; width: 60%; height: 20px; position: absolute; bottom: -12px; left: 50%; transform: translateX(-50%);}
.main-wrap .sub-cont .rank-box ul li .cnt-box img {object-fit: contain; width: 20px; height: 20px;}
.main-wrap .sub-cont .rank-box ul li .cnt-box span {font-size: 12px; font-weight: 200;}

.main-wrap .sub-cont .stroy-box.container {
  padding: 24px 16px;
}
.main-wrap .sub-cont .stroy-box.hide {
  display: none;
}
.main-wrap .sub-cont .stroy-box .more-button {
  padding: 4px 16px;
  background: tomato;
  text-align: center;
  margin-bottom: 10px;
}
.main-wrap .sub-cont .stroy-box .more-button:hover {
  background: #8e8e8e;
}
.main-wrap .sub-cont .stroy-box .more-button a {
  text-align: center;
  color: white;
  padding: 10px;
}
.main-wrap .sub-cont .stroy-box .more-button img {
  width: 45px;
  height: 45px;
}
.main-wrap .sub-cont .stroy-box .more-button img.hide {
  display: none;
}
.main-wrap .sub-cont .stroy-box ul {
}
.main-wrap .sub-cont .stroy-box ul > li {
  background: #fff;
  margin-top: 10px;
}
.main-wrap .sub-cont .stroy-box ul > li:last-child {
  margin-bottom: 10px;
}
.main-wrap .sub-cont .stroy-box ul li .top {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}
.main-wrap .sub-cont .stroy-box ul li .top .left {
  display: flex;
  align-items: center;
  justify-content: left;
}
.main-wrap .sub-cont .stroy-box ul li .top .left .box {
  width: 36px;
  height: 36px;
  border-radius: 100px;
  margin-right: 8px;
}
.main-wrap .sub-cont .stroy-box ul li .top .left .box .my-img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
.main-wrap .sub-cont .stroy-box ul li .top .left a {
  font-size: 16px;
  margin-right: 12px;
  font-weight: bold;
}
.main-wrap .sub-cont .stroy-box ul li .top .left button {
  border: 0;
  background: none;
}
.main-wrap .sub-cont .stroy-box ul li .top .left span {
  white-space: nowrap;
  font-size: 12px;
  color: #fa6650;
}
.main-wrap .sub-cont .stroy-box ul li .top .right {
  position: relative;
  width: 24px;
}
.main-wrap .sub-cont .stroy-box ul li .top .right .dot-fixed {
  z-index: 9;
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  border: 1px solid #e0e0e0;
  background: #fff;
  border-radius: 6px;
}
.main-wrap .sub-cont .stroy-box ul li .top .right .dot-fixed p {
  padding: 16px;
  font-size: 14px;
  white-space: nowrap;
  border-bottom: 1px solid #e0e0e0;
}
.main-wrap .sub-cont .stroy-box ul li .top .right .dot-fixed p:last-child {
  border-bottom: 0;
}
.main-wrap .sub-cont .stroy-box ul li .top .right .dot-fixed p img {
  width: 16px;
  height: 16px;
  margin-left: 12px;
}
.main-wrap .sub-cont .stroy-box ul li .img-box {
  width: 100%;
}
.main-wrap .sub-cont .stroy-box ul li .img-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 6px;
  display: block;
  margin-bottom: 10px;
}
.main-wrap .sub-cont .stroy-box ul li .img-box video {
  width: 100%;
}
.main-wrap .sub-cont .stroy-box ul li .center {
  padding-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.main-wrap .sub-cont .stroy-box ul li .center img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.main-wrap .sub-cont .stroy-box ul li .center span {
  margin-right: 10px;
}
.main-wrap .sub-cont .stroy-box ul li .center .btn-share {
  width: 24px;
  height: 24px;
}
.main-wrap .sub-cont .stroy-box ul li .center .flex-start {
  display: flex;
  align-items: flex-start;
}
.main-wrap .sub-cont .stroy-box ul li .likecnt {
  padding-top: 5px;
  padding-bottom: 16px;
}
.main-wrap .sub-cont .stroy-box ul li .center p {
  margin-right: 10px;
  color: #828282;
  font-size: 14px;
}
.main-wrap .sub-cont .stroy-box ul li .txt-box p {
  margin-bottom: 12px;
  font-size: 14px;
}
.main-wrap .sub-cont .stroy-box ul li .txt-box pre {
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 12px;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.main-wrap .sub-cont .stroy-box ul li .txt-box .tag {
  flex-wrap: wrap;
}
.main-wrap .sub-cont .stroy-box ul li .txt-box .tag a {
  padding: 5px 10px;
  background: #f2f2f2;
  border-radius: 50px;
  color: #828282;
  font-size: 11px;
  margin-right: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}

.main-wrap .btn-add-fixed {
  position: fixed;
  bottom: 95px;
  right: 0;
}

.main-wrap .sub-cont .stroy-box ul li .bot-wrap {
  width: 100%;
  display: flex;
  border-top: 1px solid #ddd;
}
.main-wrap .sub-cont .stroy-box ul li .bot-wrap > div {
  width: calc(100% / 3);
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrap .sub-cont .stroy-box ul li .bot-wrap > div:active {
  background-color: #ddd;
}
.main-wrap .sub-cont .stroy-box ul li .bot-wrap > div > img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/*===========================================================================
	좋아요 & 댓글 div 애니메이션
============================================================================*/
@keyframes slideToTop {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slideToTopReverse {
  0% {
    height: auto;
    /* transform: translateY(50%); */
  }
  100% {
    height: 0;
    /* transform: translateY(0); */
  }
}
@keyframes slideToBot {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes slideToLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

.slideToTop {
  animation: slideToTop 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
.slideToBot {
  animation: slideToBot 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
.slideToTopReverse {
  animation: slideToTopReverse 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
.slideToLeft {
  animation: slideToLeft 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
.slideToRight {
  animation: slideToRight 0.5s ease-in-out;
  animation-fill-mode: forwards;
}
body.modal-open {
  overflow: hidden;
}
/*===========================================================================
	좋아요 리스트 
============================================================================*/
.like-box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  background: white;
}
.like-box.hide {
  display: none;
}
.like-box .sub-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  height: calc(constant(safe-area-inset-top) + 48px);
  height: calc(env(safe-area-inset-top) + 48px);
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
  padding: 0 16px;
  padding: calc(constant(safe-area-inset-top)) 16px 0 16px;
  padding: calc(env(safe-area-inset-top)) 16px 0 16px;
  background: #fff;
}
.like-box .sub-cont {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 48px;
  margin-top: calc(constant(safe-area-inset-top) + 48px);
  margin-top: calc(env(safe-area-inset-top) + 48px);
  overflow: scroll;
  max-height: calc(100% - 48px);
  width: 100%;
}
.like-box .sub-cont .empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.like-box .sub-cont .empty.hide {
  display: none;
}
.like-box .sub-cont .empty img {
  width: 24vw;
  height: 24vw;
  margin-top: 24vw;
  margin-bottom: 20px;
}
.like-box .sub-cont .full {
  width: 100%;
  height: 100%;
}
.like-box .sub-cont .full.hide {
  display: none;
}
.like-box .sub-cont .full .people {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.like-box .sub-cont .full .people:active {
  background: #fff5f3;
}
.like-box .sub-cont .full .people .left {
  width: calc(100% - 80px);
}
.like-box .sub-cont .full .people .left > img {
  width: 45px;
  height: 45px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  background-color: white;
}
.like-box .sub-cont .full .people .left > span {
  margin-left: 10px;
}
.like-box .sub-cont .full .people .right > button {
  color: #fff5f3;
  background: #fa6650;
  border: 0;
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 6px;
  white-space: nowrap;
  width: 70px;
}

/*===========================================================================
	댓글 리스트
============================================================================*/
.reply-box {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  background: white;
}
.reply-box.hide {
  display: none;
}
.reply-box .sub-head {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  height: calc(constant(safe-area-inset-top) + 48px);
  height: calc(env(safe-area-inset-top) + 48px);
  border-bottom: 1px solid #f2f2f2;
  justify-content: space-between;
  padding: 0 16px;
  padding: calc(constant(safe-area-inset-top)) 16px 0 16px;
  padding: calc(env(safe-area-inset-top)) 16px 0 16px;
  background: #fff;
}
.reply-box .sub-head > p {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.reply-box .sub-cont {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 48px;
  margin-top: calc(constant(safe-area-inset-top) + 48px);
  margin-top: calc(env(safe-area-inset-top) + 48px);
  overflow: scroll;
  max-height: calc(100% - 48px);
  width: 100%;
}
.reply-box .sub-cont .empty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.reply-box .sub-cont .empty.hide {
  display: none;
}
.reply-box .sub-cont .empty img {
  width: 24vw;
  height: 24vw;
  margin-top: 24vw;
  margin-bottom: 20px;
}
.reply-box .sub-cont .full {
  width: 100%;
  height: 100%;
  padding-bottom: 120px;
}
.reply-box .sub-cont .full.hide {
  display: none;
}
.reply-box .sub-cont .full .comment {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 10px;
}
.reply-box .sub-cont .full .comment.sub {
  padding-left: 50px;
}
.reply-box .sub-cont .full .comment:active {
  background: #fff5f3;
}
.reply-box .sub-cont .full .comment.active {
  background: #fff5f3;
}
.reply-box .sub-cont .full .comment .left {
  margin-right: 10px;
  padding-top: 10px;
}
.reply-box .sub-cont .full .comment .left > span {
  width: 45px;
  height: 45px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}
.reply-box .sub-cont .full .comment .left > span > img {
  width: 100%;
  height: 100%;
}
.reply-box .sub-cont .full .comment .right {
  padding: 10px 0;
  width: 100%;
}
.reply-box .sub-cont .full .comment .right .cont > p {
  width: calc(100% - 20px);
  word-break: break-all;
  white-space: normal;
  font-size: 12px;
}
.reply-box .sub-cont .full .comment .right .cont > p > .profile {
  font-size: 14px;
  display: inline;
  font-weight: bolder;
}
.reply-box .sub-cont .full .comment .right .ref .created {
  font-size: 12px;
  font-weight: 200;
  color: #9b9797;
  margin-right: 10px;
}
.reply-box .sub-cont .full .comment .right .ref button {
  border: 0;
  color: black;
  background: none;
  font-size: 12px;
}
.reply-box .sub-foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  border-top: 1px solid #f2f2f2;
  padding: 12px 16px;
  padding: 12px 16px calc(constant(safe-area-inset-bottom) + 12px) 16px;
  padding: 12px 16px calc(env(safe-area-inset-bottom) + 12px) 16px;
  background: white;
  z-index: 100;
}
.reply-box .sub-foot.hide {
  display: none;
}
.reply-box .sub-foot .towho {
  width: 100%;
  background: #f0f0f0;
  position: absolute;
  top: -45px;
  left: 0;
  padding: 10px 20px;
  color: #a0a0a0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.reply-box .sub-foot .towho.hide {
  display: none;
}
.reply-box .sub-foot .towho a {
  width: 15px;
  height: 15px;
}
.reply-box .sub-foot .input-box {
  border: 1px solid #fa6650;
  border-radius: 100px;
  width: 100%;
}
.reply-box .sub-foot .input-box #content {
  width: calc(100% - 60px);
  border: 0;
  outline: none;
  padding: 9px 0;
  padding-left: 16px;
  margin-left: 16px;
}
.reply-box .sub-foot .input-box button {
  border: 0;
  background: none;
  color: #fa6650;
  font-weight: bold;
}
.reply-box #cmtInfo {
  background: #fa6650;
}
.reply-box #cmtInfo.hide {
  display: none;
}
.reply-box #cmtInfo > a {
  width: 24px;
  height: 24px;
}
.reply-box #cmtInfo > p {
  color: white;
}
.reply-box #cmtInfo > p > span {
  color: white;
}
.reply-box #cmtInfo .button {
  margin-left: 10px;
}
.reply-box #cmtInfo .button.hide {
  display: none;
}
.reply-box .at {
  width: 100%;
  height: 100%;
  max-height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
  overflow: scroll;
}
.reply-box .at.b-124 {
  bottom: 124px;
  max-height: calc(100% - 124px);
}
.reply-box .at.b-80 {
  bottom: 80px;
  max-height: calc(100% - 80px);
}
.reply-box .at.hide {
  display: none;
}
.reply-box .at .searching {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  position: absolute;
  bottom: 0;
  background: white;
}
.reply-box .at .searching.hide {
  display: none;
}
.reply-box .at .searching > img {
  width: 30px;
  height: 30px;
}
.reply-box .at .searching > span {
  margin-top: 10px;
}
.reply-box .at .result-wrap {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;
  height: 100%;
  overflow: scroll;
}
.reply-box .at .result-wrap.hide {
  display: none;
}
.reply-box .at .result-wrap .result {
  width: 100%;
  min-height: 70px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
}
.reply-box .at .result-wrap .result:active {
  background: #fff5f3;
}
.reply-box .at .result-wrap .result .left {
  margin-right: 10px;
  padding-top: 10px;
}
.reply-box .at .result-wrap .result .left > span {
  width: 45px;
  height: 45px;
  border: 1px solid #f2f2f2;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}
.reply-box .at .result-wrap .result .left > span > img {
  width: 100%;
  height: 100%;
}
.reply-box .at .result-wrap .result .right {
  padding: 10px 0;
  width: 100%;
}
.reply-box .at .result-wrap .result .right > p {
  width: calc(100% - 20px);
  word-break: break-all;
  white-space: normal;
  font-size: 12px;
}
.reply-box .at .result-wrap .result .right > p:first-child {
  font-weight: bolder;
}
.reply-box .at .result-wrap .result .right > p:nth-child(2) {
  color: #a0a0a0;
}

/*===========================================================================
	프로필
============================================================================*/
.main-wrap .sub-cont .profile li {
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #f2f2f2;
  padding: 8px 16px;
}
.main-wrap .sub-cont .profile li .left {
  display: flex;
  align-items: center;
  justify-content: left;
  white-space: nowrap;
}
.main-wrap .sub-cont .profile li .left img {
  width: 44px;
  height: 44px;
  border-radius: 100px;
  margin-right: 8px;
}
.main-wrap .sub-cont .profile li .left a {
  font-size: 16px;
  margin-right: 12px;
  font-weight: bold;
}
.main-wrap .sub-cont .profile li .left span {
  white-space: nowrap;
  font-size: 12px;
  color: #fa6650;
}
.main-wrap .sub-cont .profile li .right {display: flex; position: relative;}
.main-wrap .sub-cont .profile li .right a { border: 1px solid #ddd; border-radius: 10px; width: 45px; height: 45px; display: flex; align-items: center; justify-content: center; padding: 5px;}
.main-wrap .sub-cont .profile li .right a img {width: 100%; height: 100%;}
.main-wrap .sub-cont .profile li .right button {
  font-size: 12px;
  padding: 5px 12px;
  color: #262626;
  border: 1px solid #ebebeb;
  background: #fff;
  border-radius: 6px;
  white-space: nowrap;
}
.main-wrap .sub-cont .profile li .right button:nth-child(2) {
  margin-left: 8px;
}
.main-wrap .sub-cont .profile li .right .btn-close {
  border: 0;
  padding: 0;
}

.main-wrap .sub-cont .tag li .left img.tag-img {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.main-wrap .sub-cont .tag li .left div {
  width: 100%;
  overflow: hidden;
}
.main-wrap .sub-cont .tag li .left a {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
}
.main-wrap .sub-cont .tag li .left p {
  font-size: 12px;
  color: #828282;
}
.main-wrap .sub-cont .tag li .left pre {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  color: #fff;
}
.main-wrap .sub-cont .tag li .right img {
  width: 14px;
  height: 14px;
}

/*===========================================================================
	탭 공통
============================================================================*/
.tabs {
  text-align: center;
}
.tabs li {
  display: inline-block;
  width: 50%;
  padding: 14px 0;
  background: #fff;
  font-size: 14px;
  color: #999;
  cursor: pointer;
  font-size: 14px;
}
.tabs li.current {
  color: #222;
  font-weight: 500;
  border-bottom: 2px solid #fa6650;
}
.tabs li.current.friend {
  width: 100%;
}
.tabs li.event {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.tab-content {
  display: none;
}
.tab-content > p {
  padding: 10px 16px;
  text-align: right;
  font-size: 12px;
  color: #828282;
}
.tab-content-child {
  display: none;
}
.tab-content.current {
  display: inherit;
}
.tab-content-child.current {
  display: inherit;
}
.pc {
  display: block !important;
}
.mobile {
  display: none !important;
}

/*===========================================================================
	프로필
============================================================================*/
.main-wrap .sub-cont .profile-head {
  height: auto;
  background: #fa6650;
  padding: 16px;
}
.main-wrap .sub-cont .profile-head .profile .left a {
  color: #fff;
  font-size: 16px;
  margin-bottom: 4px;
}
.main-wrap .sub-cont .profile-head .profile .left p {
  color: #fff;
  font-size: 12px;
  white-space: break-spaces;
}
.main-wrap .sub-cont .profile-head .profile li .left .box {
  width: 100px;
  margin-right: 12px;
}
.main-wrap .sub-cont .profile-head .profile li .left .box img {
  width: 58px;
  height: 58px;
  object-fit: cover;
}
.main-wrap .sub-cont .profile-head > div {
  width: 100%;
  height: 68px;
  background: #fff;
  border-radius: 100px;
  padding: 16px;
  text-align: center;
}
.main-wrap .sub-cont .profile-head > div p {
  font-size: 12px;
  color: #222;
  padding-bottom: 3px;
}
.main-wrap .sub-cont .profile-head > div h3 {
  font-size: 18px;
  color: #000;
}
.main-wrap .sub-cont .profile-head > div .left {
  width: 50%;
  border-right: 1px solid #eaeaea;
}
.main-wrap .sub-cont .profile-head > div .right {
  width: 50%;
}
.main-wrap .sub-cont .profile-head li {
  border-bottom: 0;
  padding: 0;
  padding-bottom: 32px;
}
.main-wrap .sub-cont .profile-head li .right img {
  width: 18px;
  height: 18px;
}

.main-wrap .sub-cont .profile-head li .right a:first-child {margin-right: 55px;}
.main-wrap .sub-cont .profile-head li .right a.ellipsis {display: flex; flex-direction: column; overflow: hidden; position: absolute; right: 0; top: 0; justify-content: flex-start; gap: 10px; transition: height 1s; background-color: white;}
.main-wrap .sub-cont .profile-head li .right a.ellipsis div {width: 32px; height: 32px; object-fit: contain; object-position: center; padding: 4px;}
.main-wrap .sub-cont .profile-head li .right a.ellipsis div:first-child {transition: transform 0.8s;}
.main-wrap .sub-cont .profile-head li .right a.ellipsis div img {width: 100%;}
.main-wrap .sub-cont .profile-head li .right a.ellipsis.active {height: 135px; transition: height 1s;}
.main-wrap .sub-cont .profile-head li .right a.ellipsis.active div:first-child {transform: rotate(90deg); transition: transform 0.8s;}
.main-wrap .sub-cont .profile-head li .right .btn-gear {position: absolute; right: 0; top: 0;}
.main-wrap .sub-cont .profile-head li .right .btn-gear img {margin-right: 0;}

.main-wrap .sub-cont .profile-cont {
  width: 100%;
  padding-top: 24px;
}
.main-wrap .sub-cont .profile-cont .no-cont {
  width: 100%;
  height: calc(100vh - 348px);
  align-items: center;
  justify-content: center;
}
.main-wrap .sub-cont .profile-cont .no-cont p {
  font-size: 16px;
  font-weight: bold;
}

.main-wrap .gear-box {
  display: none;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.main-wrap .gear-box.show {
  display: block;
}
.main-wrap .gear-box .inner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 16px 16px 30px 16px;
  padding: calc(constant(safe-area-inset-top) + 16px) 16px 30px 16px;
  padding: calc(env(safe-area-inset-top) + 16px) 16px 30px 16px;
  overflow-y: scroll;
}
.main-wrap .gear-box .inner h3 {
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
}
.main-wrap .gear-box .inner .profile-close img {
  width: 32px;
  height: 32px;
}
.main-wrap .gear-box .inner .profile-img {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.main-wrap .gear-box .inner .profile-img input {
  display: none;
}
.main-wrap .gear-box .inner .profile-img label {
  display: block;
}
.main-wrap .gear-box .inner .profile-img .profile-one {
  width: 100px;
  height: 100px;
  border: 1px solid #ebebeb;
  border-radius: 100%;
  text-align: center;
  margin: 0 auto;
}
.main-wrap .gear-box .inner .profile-img .profile-one img {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: inherit;
}
.main-wrap .gear-box .inner .profile-img .profile-camera {
  position: absolute;
  bottom: 0;
  right: 35%;
  width: 28px;
  height: 28px;
}
.main-wrap .gear-box .inner .profile-modify {
  margin-top: 30px;
}
.main-wrap .gear-box .inner .profile-modify p {
  width: 100%;
  margin-bottom: 24px;
}
.main-wrap .gear-box .inner .profile-modify label {
  width: 100%;
  font-size: 14px;
  font-weight: bold;
}
.main-wrap .gear-box .inner .profile-modify input {
  width: 100%;
  border: 1px solid #cfd0d7;
  padding: 13px 16px;
  border-radius: 6px;
  margin-top: 8px;
}
.main-wrap .gear-box .inner .profile-modify input::placeholder {
  color: #bbbbbb;
  font-size: 14px;
}
.main-wrap .gear-box .inner .profile-modify textarea {
  width: 100%;
  min-height: 90px;
  border: 1px solid #cfd0d7;
  padding: 13px 16px;
  border-radius: 6px;
  margin-top: 8px;
}
.main-wrap .gear-box .inner .profile-modify textarea::placeholder {
  color: #bbbbbb;
  font-size: 14px;
}
.main-wrap .gear-box .inner .foot-box {
}
.main-wrap .gear-box .inner .foot-box button {
  width: 100%;
  padding: 13px 0;
  background: #fa6650;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 -5px 20px 0 rgb(0 0 0 / 5%);
}
.main-wrap .gear-box .inner .foot-box .col-group {
  justify-content: space-between;
  padding-top: 20px;
}
.main-wrap .gear-box .inner .foot-box .col-group a {
  font-size: 12px;
  color: #bdbdbd;
}
.main-wrap .gear-box .inner .foot-box .col-group a.logout {
  color: #000000;
}

/* 프로필에서 버튼 눌렀을때  */
.main-wrap .sub-cont .profile-cont {
}

/* 고양이목록 */
.main-wrap .sub-cont .cat-wrap {
  width: 100%;
  height: calc(100vh - 128px);
  justify-content: center;
  align-items: center;
  text-align: center;
}
.main-wrap .sub-cont .cat-wrap .no-cat img {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}
.main-wrap .sub-cont .cat-wrap .no-cat h3 {
  margin-bottom: 7px;
  font-size: 16px;
  font-weight: bold;
}
.main-wrap .sub-cont .cat-wrap .no-cat p {
  color: #828282;
  font-size: 14px;
}

/* 친구목록 */
.main-wrap .sub-cont {
}
.main-wrap .sub-cont .mypage-detail .search-head {
  padding: 6px 16px;
}
.main-wrap .sub-cont .mypage-detail .search-head > p {
  margin: 0;
  width: 100%;
}
.main-wrap .sub-cont .mypage-detail div > p {
  width: calc(100% - 32px);
  background: #f8f8f8;
  border-radius: 6px;
  margin: 6px 16px;
}
.main-wrap .sub-cont .mypage-detail div > p img {
  width: 18px;
  height: 18px;
  margin-left: 8px;
}
.main-wrap .sub-cont .mypage-detail div > p input {
  border: 0;
  background: #f8f8f8;
  padding: 9px 8px;
}
.main-wrap .sub-cont .mypage-detail div > p input::placeholder {
  color: #bdbdbd;
}
.main-wrap .sub-cont .mypage-detail .profile .gray {
  background: #bdbdbd;
  color: #fff;
}

.main-wrap .sub-cont .mypage-detail .tab-content .list h3 {
  padding: 12px 16px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 14px;
}
.main-wrap .sub-cont .mypage-detail .tab-content .list {
  margin-bottom: 40px;
}
.main-wrap .sub-cont .mypage-detail .tab-content .list li {
  border-bottom: 0;
}

.main-wrap .sub-cont .mypage-detail .search-result {
  width: 100%;
  height: calc(100vh - 96px);
  position: absolute;
  z-index: 88;
  background: white;
  padding: 16px;
  padding-bottom: 90px;
}
.main-wrap .sub-cont .mypage-detail .search-result.hide {
  display: none;
}

/*===========================================================================
	3*3 이미지 박스
============================================================================*/
.main-wrap .sub-cont .img-detail-box {
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px 16px;
}
.main-wrap .sub-cont .img-detail-box li {
  width: calc(100% / 3 - 5.5px);
  margin-bottom: 8px;
}
.main-wrap .sub-cont .img-detail-box li:nth-child(3n-1) {
  margin: 0 8px 8px;
}

.wrap-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  gap: 10px;
}
.wrap-grid .card {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
}
.wrap-grid .card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
/*===========================================================================
	input 공통
============================================================================*/
.main-wrap .sub-cont .enter-box {
  /* min-height: calc(100vh - 96px); */
}
.main-wrap .sub-cont .enter-box > div {
  padding-bottom: 24px;
  flex-wrap: wrap;
}
.main-wrap .sub-cont .enter-box > div.last {
  padding-bottom: 0;
}
.main-wrap .sub-cont .enter-box > div .tag {
  margin-bottom: 10px;
}
.main-wrap .sub-cont .enter-box label {
  font-size: 14px;
  font-weight: bold;
}
.main-wrap .sub-cont .enter-box select.did {
  width: 33%;
  border: 1px solid #cfd0d7;
  padding: 13px 16px;
  appearance: auto;
  background: white;
  border-radius: 5px;
}
.main-wrap .sub-cont .enter-box input {
  width: 100%;
  border-radius: 4px;
  padding: 13px 16px;
  margin-top: 8px;
  font-size: 14px;
}
.main-wrap .sub-cont .enter-box input::placeholder {
  font-size: 14px;
  color: #bbb;
  font-family: "Noto Sans KR";
}
.main-wrap .sub-cont .enter-box textarea {
  width: 100%;
  min-height: 89px;
  border-radius: 4px;
  margin-top: 8px;
  font-size: 14px;
}
.main-wrap .sub-cont .enter-box textarea::placeholder {
  font-size: 14px;
  color: #bbb;
  font-family: "Noto Sans KR";
}

/*===========================================================================
	투게더 공지사항
============================================================================*/
.main-wrap .together-notice-wrap .enter-box .tit {
  padding: 13px 16px;
  border-bottom: 1px solid #e0e0e0;
}
.main-wrap .together-notice-wrap .enter-box .tit p {
  font-size: 14px;
  font-weight: bold;
}
.main-wrap .together-notice-wrap .enter-box .content {
  padding: 24px 0;
}
.main-wrap .together-notice-wrap .enter-box .content img {
  border-radius: 6px;
}
.main-wrap .together-notice-wrap .enter-box .img-box {
  padding: 24px 0;
}
.main-wrap .together-notice-wrap .enter-box .img-box img {
  border-radius: 6px;
}
.main-wrap .together-notice-wrap .enter-box .txt-box p {
  font-size: 14px;
  line-height: 21px;
}
/*===========================================================================
	고양이 추가 상단
============================================================================*/
.main-wrap .sub-cont .cats-add-wrap .uploadMySwiper {
  margin-left: 110px;
  padding-right: 40px;
}
.main-wrap .sub-cont .cats-add-wrap .img-add li {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #cfd0d7;
  margin-right: 20px;
}
.main-wrap .sub-cont .cats-add-wrap .img-add li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-wrap .sub-cont .cats-add-wrap .img-add li .btn-close {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  border: none;
}
.main-wrap .sub-cont .cats-add-wrap .img-add li .btn-close img {
}

.main-wrap .sub-cont .cats-add-wrap .both {
  position: relative;
  height: 134px;
  padding: 20px 0;
}

.main-wrap .sub-cont .cats-add-wrap .plus {
  position: absolute;
  width: 90px;
  margin-left: 20px;
  left: 0;
  background: #fff;
}
.main-wrap .sub-cont .cats-add-wrap .plus .col-group {
  z-index: 1;
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #cfd0d7;
  background: #fff;
}

.main-wrap .sub-cont .cats-add-wrap .plus .col-group div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-wrap .sub-cont .cats-add-wrap .plus .col-group input {
  display: none;
}
.main-wrap .sub-cont .cats-add-wrap .plus .col-group img {
  width: 24px;
  height: 24px;
  text-align: center;
}
.main-wrap .sub-cont .cats-add-wrap .plus .col-group p {
  font-size: 12px;
  font-weight: bold;
}
.main-wrap .sub-cont .cats-add-wrap .plus .col-group p span {
  color: #fa6650;
}

/* 첫번째 추가 사진 */
.main-wrap .sub-cont .cats-add-wrap .img-add {
  position: relative;
  padding: 0 20px;
}

.main-wrap
  .sub-cont
  .cats-add-wrap
  .img-add
  li.col-group
  .col-group:last-child {
  margin-right: 110px;
}
.main-wrap .sub-cont .cats-add-wrap .img-add li.col-group div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-wrap .sub-cont .cats-add-wrap .img-add li.col-group input {
  display: none;
}
.main-wrap .sub-cont .cats-add-wrap .img-add li.col-group img {
  width: 24px;
  height: 24px;
  text-align: center;
}
.main-wrap .sub-cont .cats-add-wrap .img-add li.col-group p {
  font-size: 12px;
  font-weight: bold;
}
.main-wrap .sub-cont .cats-add-wrap .img-add li.col-group p span {
  color: #fa6650;
}

.main-wrap .sub-cont .button-box {
  z-index: 99;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 98px;
  background: #fff;
  box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 20px 20px 0 0;
  padding: 16px 16px 34px;
}
.main-wrap .sub-cont .button-box button {
  width: 100%;
  padding: 13px 0;
  background: dodgerblue;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.05);
}
.main-wrap .sub-cont .button-box button:last-child {
  background: #fa6650;
}
.main-wrap .sub-cont .button-box button:hover {
  background: #c4c4c4;
}
.main-wrap .sub-cont .button-box button.no-event:hover {
  background: #c4c4c4;
}
.main-wrap .sub-cont .button-box a {
  width: 100%;
  padding: 13px 0;
  background: #fa6650;
  border-radius: 4px;
  font-size: 16px;
  box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.05);
  text-align: center;
  color: white;
}

.main-wrap .sub-cont .cats-add-wrap .cats-list {
  padding-bottom: 50px;
}
.main-wrap .sub-cont .cats-add-wrap .cats-list .top-img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
.main-wrap .sub-cont .cats-add-wrap .cats-list .top-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-wrap .sub-cont .cats-add-wrap .cats-list .list-top {
  padding-top: 16px;
}
.main-wrap .sub-cont .cats-add-wrap .cats-list .list-top img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.main-wrap .sub-cont .cats-add-wrap .cats-list .list-top h3 {
  font-size: 18px;
  margin-right: 16px;
}
.main-wrap .sub-cont .cats-add-wrap .cats-list .list-cont {
  font-size: 14px;
  color: #4f4f4f;
  padding: 5px;
  white-space: normal;
  word-break: break-all;
}

/*===========================================================================
	투게더
============================================================================*/
.main-wrap .together-wrap {
}

.main-wrap .together-wrap .select-box {
  background: #fff;
}
.main-wrap .together-wrap .select-box select {
  width: 100%;
  border: 0;
  padding: 13px 16px;
  background: url(/images/icon/icon_arrow_down_m.svg) no-repeat;
  background-position: 95% center;
  background-size: 18px 18px;
  font-weight: 500;
  font-size: 14px;
}
.main-wrap .together-wrap .select-box li {
  width: 50%;
}
.main-wrap .together-wrap .select-box li:first-child {
  border-right: 1px solid #f2f2f2;
}

.main-wrap .together-wrap .search-head {
  padding: 7px 16px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  background: #fff;
}

.main-wrap .together-wrap .tabs {
  margin: 11px 0 10px;
}
.main-wrap .together-wrap .tabs li {
  width: auto;
  border-radius: 100px;
  padding: 8px 24px;
  margin-right: 10px;
  border: 1px solid #e0e0e0;
}
.main-wrap .together-wrap .tabs li.current {
  border-bottom: 0;
  background: #262626;
  color: #fff;
}

.main-wrap .together-wrap .tab-content ul li {
  padding: 16px 0;
  border-bottom: 1px solid #f2f2f2;
}
.main-wrap .together-wrap .tab-content ul li.empty {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-wrap .together-wrap .tab-content ul li .left {
  width: auto;
  height: auto;
  margin-right: 12px;
}
.main-wrap .together-wrap .tab-content ul li .left img {
  width: 102px;
  height: 102px;
  background: #e0e0e0;
  border-radius: 4px;
}
.main-wrap .together-wrap .tab-content ul li .right {
  width: calc(100% - 102px);
}
.main-wrap .together-wrap .tab-content ul li .right .top {
  font-size: 11px;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 6px;
}
.main-wrap .together-wrap .tab-content ul li .right .top p {
  color: #fa6650;
}
.main-wrap .together-wrap .tab-content ul li .right .top span {
  color: #828282;
}
.main-wrap .together-wrap .tab-content ul li .right .top a {
  display: block;
  width: 16px;
  height: 16px;
}
.main-wrap .together-wrap .tab-content ul li .right .top img {
  width: 100%;
  height: 100%;
}
.main-wrap .together-wrap .tab-content ul li .right h3 {
  font-size: 16px;
  padding-bottom: 4px;
}
.main-wrap .together-wrap .tab-content ul li .right h4 {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}
.main-wrap .together-wrap .tab-content ul li .right .bottom {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.main-wrap .together-wrap .tab-content ul li .right button {
  padding: 5px 12px;
  background: none;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  color: #262626;
}
.main-wrap .together-wrap .tab-content ul li .right button.btn-enter {
  margin-right: 8px;
}
.main-wrap .together-wrap .tab-content ul li .right button.btn-enter:hover {
  color: #fa6650;
  background: #fff5f3;
  border: 0;
}

.main-wrap .together-wrap .tab-content .click-order {
  position: relative;
  justify-content: left;
  font-size: 12px;
  color: #4f4f4f;
}
.main-wrap .together-wrap .tab-content .click-order img {
  width: 14px;
  height: 14px;
  margin-left: 4px;
}

.main-wrap .together-wrap .tab-content .order-fixed {
  z-index: 9;
  position: absolute;
  top: 25px;
  left: 3px;
  border: 1px solid #e0e0e0;
  background: #fff;
  border-radius: 6px;
}
.main-wrap .together-wrap .tab-content .order-fixed p {
  width: 98px;
  height: 48px;
  padding: 16px;
  padding-right: 44px;
  font-size: 14px;
  white-space: nowrap;
}
.main-wrap .together-wrap .tab-content .order-fixed p:first-child {
  border-bottom: 1px solid #e0e0e0;
}

/* 투게더 관리자페이지 */
.main-wrap .together-adm-wrap {
  background: #f2f2f2;
}
.main-wrap .together-adm-wrap .sub-cont {
}
.main-wrap .together-adm-wrap .sub-cont .tabs {
}

.main-wrap .together-adm-wrap .sub-cont .table-box {
  height: 100vh;
  background: #fff;
}
.main-wrap .together-adm-wrap .sub-cont .table-box .btn-add {
  padding: 5px 12px;
  font-size: 12px;
  border-radius: 4px;
  background: 0;
  color: #262626;
  border: 1px solid #ebebeb;
}
.main-wrap .together-adm-wrap .sub-cont .table-box.hide {
  display: none;
}
.main-wrap .together-adm-wrap .sub-cont .table-box select {
  appearance: auto;
}
.main-wrap .together-adm-wrap .table-box .col-group {
  justify-content: space-between;
  padding: 10px 0;
}
.main-wrap .together-adm-wrap .table-box p {
  font-size: 12px;
}

.main-wrap .together-adm-wrap .enter-box {
  background: #fff;
  padding-top: 16px;
}
.main-wrap .together-adm-wrap .enter-box input {
  border: 1px solid #cfd0d7;
  line-height: 18px;
}

.main-wrap .together-adm-wrap .enter-box .img-box .box {
  min-height: 150px;
  border: 1px solid #cfd0d7;
  border-radius: 4px;
  margin-top: 8px;
}
.main-wrap .together-adm-wrap .enter-box .img-box .box input[type="file"] {
  opacity: 0;
  min-height: 150px;
}
.main-wrap .together-adm-wrap .enter-box .img-box .box label {
  width: 100%;
  height: 100%;
  background: url(../images/icon/icon-plus-g.svg) no-repeat;
  background-position: center center;
  background-size: 24px 24px;
}
.main-wrap .together-adm-wrap .enter-box .img-box .box img {
  width: 100%;
  height: 100;
  object-fit: cover;
}
.main-wrap .together-adm-wrap .enter-box .img-box .tit {
  display: flex;
  justify-content: space-between;
}
.main-wrap .together-adm-wrap .enter-box .img-box .tit label:last-child {
  display: flex;
  align-items: center;
}
.main-wrap .together-adm-wrap .enter-box .img-box .tit label:last-child img {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}
.main-wrap .together-adm-wrap .enter-box .img-box .preview {
  background: url("/images/icon/icon-plus.svg") no-repeat center;
}

.main-wrap .together-adm-wrap .enter-box .img-box .preview {
  min-height: 150px;
  border: 1px solid #cfd0d7;
  border-radius: 4px;
  margin-top: 8px;
}

.main-wrap .together-adm-wrap .enter-box .select-box ul {
  margin-top: 8px;
}
.main-wrap .together-adm-wrap .enter-box .select-box ul li {
  position: relative;
  width: 50%;
}
.main-wrap .together-adm-wrap .enter-box .select-box ul li:first-child {
  margin-right: 15px;
}
.main-wrap .together-adm-wrap .enter-box .select-box ul li select {
  width: 100%;
  border: 1px solid #cfd0d7;
  padding: 13px 16px;
  border-radius: 4px;
  line-height: 18px;
  background: #fff;
  background: url(/images/icon/icon_arrow_down_m.svg) no-repeat;
  background-position: 95% center;
  background-size: 18px 18px;
}

.main-wrap .together-adm-wrap .enter-box p.img-box input[type="file"] {
  display: none;
}

/* 투게더 등록 */
.main-wrap .together-wrap .enter-box input {
  border: 1px solid #cfd0d7;
}

.main-wrap .together-wrap .enter-box .img-box .box {
  min-height: 150px;
  border: 1px solid #cfd0d7;
  border-radius: 4px;
  margin-top: 8px;
}
.main-wrap .together-wrap .enter-box .img-box .box input[type="file"] {
  opacity: 0;
  min-height: 150px;
}
.main-wrap .together-wrap .enter-box .img-box .box label {
  width: 100%;
  height: 100%;
  background: url(/images/icon/icon-plus-g.svg) no-repeat;
  background-position: center center;
  background-size: 24px 24px;
}
.main-wrap .together-wrap .enter-box .img-box .tit {
  display: flex;
  justify-content: space-between;
}
.main-wrap .together-wrap .enter-box .img-box .tit label:last-child {
  display: flex;
  align-items: center;
}
.main-wrap .together-wrap .enter-box .img-box .tit label:last-child img {
  width: 24px;
  height: 24px;
  margin-left: 5px;
}
.main-wrap .together-wrap .enter-box .img-box .preview {
  background: url("/images/icon/icon-plus.svg") no-repeat center;
}

.main-wrap .together-wrap .enter-box .img-box .preview {
  min-height: 150px;
  border: 1px solid #cfd0d7;
  border-radius: 4px;
  margin-top: 8px;
}

.main-wrap .together-wrap .enter-box .select-box ul {
  justify-content: space-between;
}
.main-wrap .together-wrap .enter-box .select-box ul li {
  width: calc(50% - 7px);
  margin-top: 8px;
}
.main-wrap .together-wrap .enter-box .select-box ul li select {
  border: 1px solid #cfd0d7;
  border-radius: 4px;
}
.main-wrap .together-wrap .enter-box p input {
}

/* 모임 제목 */
.main-wrap .together-adm-wrap .radio-box {
  width: 100%;
  justify-content: flex-end;
  text-align: right;
  padding: 10px 24px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 0;
  background: #fff;
}
.main-wrap .together-adm-wrap .radio-box ul li {
  padding: 0;
}
.main-wrap .together-adm-wrap .radio-box ul li.last {
  margin-left: 16px;
}
.main-wrap .together-adm-wrap .radio-box ul li label {
  font-size: 12px;
  color: #8e8e8e;
}
.main-wrap .together-adm-wrap .radio-box ul li input[type="radio"] + label {
  background-size: 14px 14px;
  background-position-y: center;
  padding-left: 18px;
}
.main-wrap
  .together-adm-wrap
  .radio-box
  ul
  li
  input[type="radio"]:checked
  + label {
  background-size: 14px 14px;
  background-position-y: center;
  padding-left: 18px;
  font-weight: 500;
  color: #262626;
}

.main-wrap .together-wrap .notice-box p {
  font-size: 12px;
}
.main-wrap .together-wrap .notice-box span {
  background: #fa6650;
  font-size: 12px;
  padding: 5px 10px;
  line-height: 13px;
  font-weight: 400;
}
.main-wrap .together-wrap .notice-box li {
  justify-content: space-between;
}
.main-wrap .together-wrap .stroy-box .center a {
  color: #828282;
  font-size: 12px;
}
.main-wrap .together-wrap .stroy-box .center span {
  color: #828282;
  font-size: 12px;
}
.main-wrap .together-wrap .stroy-box .center p {
  color: #828282;
  font-size: 12px;
}
.main-wrap .together-wrap .stroy-box ul li .center {
  border-top: 1px solid #f2f2f2;
}
.main-wrap .together-wrap .stroy-box ul li .center {
  padding: 8px 16px;
}

.main-wrap .together-wrap .notice-box {
  padding: 0px 16px;
}
.main-wrap .together-wrap .notice-box h3 {
  font-size: 14px;
  padding: 13px 16px;
  margin-bottom: 24px;
  border-bottom: 1px solid #e0e0e0;
}
.main-wrap .together-wrap .notice-box img {
  border-radius: 6px;
}
.main-wrap .together-wrap .notice-box p {
  font-size: 12px;
}
.main-wrap .together-wrap.sub-cont .notice-box ul li a {
  padding: 0;
}
.main-wrap .together-wrap .cats-add-wrap .enter-box .col-group span {
  padding: 5px 10px;
  background: #f2f2f2;
  border-radius: 50px;
  color: #828282;
  font-size: 11px;
  margin-right: 8px;
}

/*===========================================================================
	친구페이지
============================================================================*/
.main-wrap .sub-cont .friend-head {
  background: #fff;
}
.main-wrap .sub-cont .friend-head .profile .left a {
  color: #000;
}
.main-wrap .sub-cont .friend-head .profile .left p {
  color: #000;
  white-space: pre-wrap;
}
.main-wrap .sub-cont .friend-head > div {
  width: 100%;
  border-radius: 6px;
  border: 1px solid #e0e0e0;
  padding: 16px;
  text-align: center;
  margin-top: 16px;
}
.main-wrap .sub-cont .friend-head > div h3 {
  font-size: 18px;
  color: #000;
  line-height: 14px;
  font-weight: 900;
}
.main-wrap .sub-cont .friend-head > div .left {
  width: 50%;
  border-right: 1px solid #eaeaea;
}
.main-wrap .sub-cont .friend-head > div .right {
  width: 50%;
}
.main-wrap .sub-cont .friend-head li {
  border-bottom: 0;
  padding: 0;
  padding-bottom: 16px;
}
.main-wrap .sub-cont .friend-head li .right img {
  width: 18px;
  height: 18px;
}
.main-wrap .sub-cont .friend-cont {
  width: 100%;
  height: 100%;
}
.main-wrap .sub-cont .friend-head li .right button {
  color: #fa6650;
  background: #fff5f3;
  border: 0;
}
.main-wrap .sub-cont .friend-head .profile li .left .box {
  width: 78px;
  margin-right: 12px;
}
.main-wrap .sub-cont .friend-head .profile li .left .box img {
  width: 44px;
  height: 44px;
}

/*===========================================================================
	이벤트 참여
============================================================================*/
.main-wrap .sub-cont .event-wrap .top-box {
  line-height: 0;
}
.main-wrap .sub-cont .event-wrap .top-box img {
  height: auto;
  object-fit: cover;
}
.main-wrap .sub-cont .event-wrap .top-box p {
  color: #fa6650;
  background: #f4d6d2;
  text-align: center;
  font-size: 11px;
  padding: 5px 0;
}

.main-wrap .sub-cont .event-wrap .no-cont {
  width: 100%;
  height: calc(100vh - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-wrap .sub-cont .event-wrap .no-cont p {
  font-weight: bold;
}

.main-wrap .sub-cont .event-wrap .enter-box {
  background: #fff;
}
.main-wrap .sub-cont .event-wrap .enter-box > .col-group {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 8px;
}
.main-wrap .sub-cont .event-wrap .enter-box label {
  width: 77px;
  padding-top: 10px;
  font-weight: normal;
}
.main-wrap .sub-cont .event-wrap .enter-box input {
  margin-top: 0;
  margin-bottom: 8px;
}
.main-wrap .sub-cont .event-wrap .enter-box input.pd {
  margin-left: 4px;
  margin-right: 4px;
}
.main-wrap .sub-cont .event-wrap .enter-box > div {
  padding-bottom: 0;
}
.main-wrap .sub-cont .event-wrap .enter-box .enter {
  width: calc(100% - 77px);
}
.main-wrap .sub-cont .event-wrap .enter-box .enter.last {
  margin-bottom: 0;
}
.main-wrap .sub-cont .event-wrap .enter-box .enter.last input {
  margin-bottom: 0;
}
.main-wrap .sub-cont .event-wrap .enter-box .enter button {
  padding: 12px 23px;
  font-size: 12px;
  color: #262626;
  margin-left: 8px;
  border-radius: 4px;
  white-space: nowrap;
  margin-bottom: 8px;
}

.main-wrap .sub-cont .event-wrap .check-box {
  margin-top: 8px;
  background: #fff;
}
.main-wrap .sub-cont .event-wrap .check-box h3 {
  padding-bottom: 12px;
}
.main-wrap .sub-cont .event-wrap .check-box .check-privacy label span {
  font-size: 12px;
  color: #828282;
  padding-left: 6px;
}
.main-wrap
  .sub-cont
  .event-wrap
  .check-box
  .check-privacy
  input[type="checkbox"] {
  display: none;
}
.main-wrap
  .sub-cont
  .event-wrap
  .check-box
  .check-privacy
  input[type="checkbox"]
  + label {
  display: inline-block;
  cursor: pointer;
  line-height: 22px;
  padding-left: 22px;
  background: url(../images/check-b.svg) no-repeat;
  background-size: 24px 24px;
}
.main-wrap
  .sub-cont
  .event-wrap
  .check-box
  .check-privacy
  input[type="checkbox"]:checked
  + label {
  background: url(../images/check.png) no-repeat;
  background-size: 24px 24px;
}
.main-wrap .sub-cont .event-wrap .check-box .check-privacy p {
  position: absolute;
  right: 16px;
  font-size: 11px;
  color: #bdbdbd;
  border-bottom: 1px solid #bdbdbd;
}
/*===========================================================================
	팝업
============================================================================*/
.main-wrap .popup-box {
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.main-wrap .popup-box.hide {
  display: none;
}
.main-wrap .popup-box .inner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}
.main-wrap .popup-box .inner p {
  font-size: 14px;
  padding: 24px 28px 19px;
  white-space: nowrap;
  border: 0;
}
.main-wrap .popup-box .inner .col-group {
  width: 100%;
}
.main-wrap .popup-box .inner .col-group button {
  width: 50%;
  background: none;
  color: #262626;
  font-size: 14px;
  padding: 13px 0;
}
.main-wrap .popup-box .inner .col-group button:first-child {
  border-right: 0;
}
.main-wrap .popup-box .inner .col-group button.bold {
  font-weight: bold;
}

.main-wrap.inner .share-popup {
  width: 275px;
  height: auto;
  border-radius: 16px;
}
.main-wrap .popup-box.share .inner {
  width: 275px;
  border-radius: 16px;
}
.main-wrap .popup-box .inner .share-popup p {
  text-align: center;
  padding: 16px 28px 19px;
  font-size: 12px;
  color: #000;
  line-height: 16px;
}
.main-wrap .popup-box .inner .share-popup .col-group.btn {
  width: 100%;
}
.main-wrap .popup-box .inner .share-popup .col-group.btn button {
  width: 100%;
  border: 0;
  border-top: 1px solid #f2f2f2;
  padding: 16px 0;
  font-size: 14px;
  line-height: 18px;
}
.main-wrap .popup-box .inner .share-popup div .col-group {
  padding: 0 30px;
  justify-content: space-around;
  padding-bottom: 26px;
}
/* .main-wrap .popup-box .inner .share-popup .col-group {padding:19px 40px 26px } */

.main-popup-box {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.main-popup-box.hide {
  display: none;
}
.main-popup-box .inner {
  position: fixed;
  width: 275px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-popup-box .inner .img-box {
  background: #fff;
  overflow: hidden;
  line-height: 1;
}
.main-popup-box .inner .img-box img {
  width: 100%;
}
.main-popup-box .inner .img-box div {
  height: 48px;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

.main-popup-box .inner .btn-box {
}
.main-popup-box .inner .btn-box button {
  width: 50%;
  background: none;
  border: 0;
  padding: 13px 0;
  font-weight: 300;
}
.main-popup-box .inner .btn-box button:first-child {
  position: relative;
}
.main-popup-box .inner .btn-box button:first-child::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 24px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #fff;
  background: #fff;
}

.join-wrap-popup.popup02 .inner .inner-box p {
  padding: 0;
  height: auto;
  font-size: 14px;
  padding-bottom: 10px;
  text-align: center;
  line-height: 24px;
  letter-spacing: -0.7px;
  border-bottom: 1px solid #e0e0e0;
}
.join-wrap-popup.popup02 .inner .inner-box p input[type="text"] {
  border: none;
  border-bottom: 1px solid #222;
  padding: 8px 4px;
}
.join-wrap-popup.popup02 .inner .inner-box p span {
  color: tomato;
  padding-top: 10px;
  display: block;
}
.join-wrap-popup.popup02 .inner .inner-box p strong {
  color: tomato;
}
.join-wrap-popup.popup02 .inner .inner-box div {
  height: auto;
}
.join-wrap-popup.popup02 .inner .inner-box button {
  width: 100%;
  height: 44px;
  padding: 13px 0;
  font-size: 14px;
  color: #000;
  text-align: center;
  background: none;
  border: 0;
  background: #fff;
  border-radius: 0 0 4px 4px;
}
.join-wrap-popup.popup02 .inner .inner-box button:first-child {
  border-right: 1px solid #e0e0e0;
}
.join-wrap-popup.popup02 .inner .inner-box .questions { display: flex; flex-direction: column; padding: 10px; border-bottom: 1px solid #ddd; gap: 10px;}
.join-wrap-popup.popup02 .inner .inner-box .questions .question {font-size: 14px;}
.join-wrap-popup.popup02 .inner .inner-box .questions .question select {width: 100%; border: 1px solid #ddd; padding: 8px 12px; background: url(/images/icon/icon_arrow_down_m.svg) no-repeat; background-position: 95% center; background-size: 18px 18px; font-weight: 500; font-size: 14px; margin-top: 3px;}
/* 회원탈퇴 */
.join-wrap-popup.popup02 .inner .inner-box div.out {
  padding: 0;
  height: auto;
  font-size: 14px;
  padding-bottom: 10px;
  text-align: center;
  line-height: 24px;
  letter-spacing: -0.7px;
  border-bottom: 1px solid #e0e0e0;
}
.join-wrap-popup.popup02 .inner .inner-box div.out p {
  padding: 0;
  height: auto;
  font-size: 14px;
  padding-bottom: 10px;
  text-align: center;
  line-height: 24px;
  letter-spacing: -0.7px;
  border-bottom: 0;
}
.join-wrap-popup.popup02 .inner .inner-box div.out p strong {
  color: tomato;
}
.join-wrap-popup.popup02 .inner .inner-box div.out input[type="text"] {
  border: none;
  border-bottom: 1px solid #222;
  padding: 8px 4px;
}
.join-wrap-popup.popup02 .inner .inner-box div.out span {
  color: tomato;
  padding-top: 10px;
  display: block;
}
/*===========================================================================
	스와이퍼
============================================================================*/
.img-box {
  position: relative;
}
.img-box .main-pagination {
  bottom: -37px;
  left: 50%;
  transform: translateX(-50%) !important;
}
.swiper-container-horizontal
  .swiper-pagination-bullets
  .swiper-pagination-bullet {
  position: absolute;
  top: 5px;
}
.swiper-pagination-bullet {
  width: 5px !important;
  height: 5px !important;
  margin: 0 2px !important;
}
.swiper-pagination-bullet-active {
  width: 10px !important;
  border-radius: 50px !important;
  opacity: 1 !important;
  background: #fa6650 !important;
}
.vertical-slide {
  height: 40px !important;
  overflow: hidden !important;
}
.vertical-slide .swiper-wrapper {
  height: auto !important;
}
.cat-slide img.swiper-slide {
  opacity: 0.3 !important;
  transition: 0.5s;
}
.cat-slide img.swiper-slide-active {
  opacity: 1 !important;
  transition: 0.5s;
}
.cat-slide.swiper-container-horizontal
  .swiper-pagination-bullets
  .swiper-pagination-bullet {
  position: initial !important;
  background: #fff !important;
  opacity: 1 !important;
}
.cat-slide.swiper-container-horizontal
  .swiper-pagination-bullets
  .swiper-pagination-bullet-active {
  background: #fa6650 !important;
}
/*===========================================================================
	반응형
============================================================================*/
@media (max-width: 768px) {
}

/*===========================================================================
	0610
============================================================================*/
.main-popup-box .inner .btn-box {
}
.main-popup-box .inner .btn-box button {
  width: 50%;
  background: none;
  border: 0;
  padding: 13px 0;
  font-weight: 300;
}
.main-popup-box .inner .btn-box button:first-child {
  position: relative;
}
.main-popup-box .inner .btn-box button:first-child::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 24px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  color: #fff;
  background: #fff;
}

/* 신고 */
.declare-wrap .info-wrap {
  padding: 10px;
}
.declare-wrap .info-wrap .message {
  padding: 10px;
  border: 1px solid;
  border-radius: 5px;
  text-align: center;
}
.declare-wrap .find-tit h4 {
  font-size: 14px;
  line-height: 18px;
  padding: 15px 16px;
}
.declare-wrap .sub-cont {
  padding-top: 0;
}
.declare-wrap .sub-cont div.radio-box ul li {
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 16px;
}
.declare-wrap .sub-cont div.radio-box ul li label span {
  font-size: 14px;
  color: #222;
  font-weight: normal;
  padding-left: 11px;
}
.declare-wrap .foot-box {
  width: calc(100% - 32px);
}
.declare-wrap-popup .inner .inner-box .col-group {
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.declare-wrap-popup .inner .inner-box .col-group div {
  height: auto;
  text-align: center;
  padding: 16px 0;
}
.declare-wrap-popup .inner .inner-box .col-group p {
  height: auto;
  padding: 0;
}
.declare-wrap-popup .inner .inner-box .col-group img {
  width: 16px;
  height: 16px;
  text-align: center;
}
.declare-wrap-popup .inner .inner-box .col-group button {
  border-top: 1px solid #f2f2f2;
  font-weight: 700;
}
/* 이벤트 */
.join-wrap-popup .inner {
  border-radius: 4px;
}

/* 이벤트 리스트 */
.main-wrap .sub-cont .event-wrap .writing-wrap {
  width: 100%;
  margin-top: 8px;
}
.main-wrap .sub-cont .event-wrap .writing-wrap .banner {
  background: white;
  position: relative;
}
.main-wrap .sub-cont .event-wrap .writing-wrap .banner img {
  width: 100%;
  height: 100%;
}
.main-wrap .sub-cont .event-wrap .writing-wrap .banner .status {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 3px 6px;
  background: tomato;
  color: white;
  font-size: 14px;
  border-radius: 4px;
}
.main-wrap .sub-cont .event-wrap .writing-wrap .banner .status.finish {
  background: #dbdbdb;
}
.main-wrap .sub-cont .event-wrap .writing-wrap .contents {
  padding: 8px 16px 16px 16px;
  background: white;
}
.main-wrap .sub-cont .event-wrap .writing-wrap .contents p {
  margin-bottom: 5px;
  font-weight: 400;
}
.main-wrap .sub-cont .event-wrap .writing-wrap .contents p:last-child {
  margin-bottom: 0;
}
.main-wrap .sub-cont .event-wrap .writing-wrap .contents .title {
  font-weight: 900;
  font-size: 16px;
  margin-bottom: 10px;
}
/* 이벤트 상세보기 */
.event-wrap .event-head {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  background: white;
}
.event-wrap .event-head .title {
  padding: 0 10px;
  font-size: 5.6vw;
  text-align: center;
}
.event-wrap .event-head .period {
  padding: 0 10px;
  font-size: 2.8vw;
  text-align: right;
}
.event-wrap .contents {
  padding: 20px;
  background: white;
}
.event-wrap .contents p > img {
  width: 100%;
  height: 100%;
}

.main-wrap .contact-wrap .sub-cont {
  width: 100%;
  height: calc(100% - 80px);
  background: #fff;
}
.main-wrap .contact-wrap .sub-cont .contact-group {
}
.main-wrap .contact-wrap .sub-cont .contact-group li {
  padding: 13px 16px;
  border-bottom: 1px solid #f2f2f2;
}
.main-wrap .contact-wrap .sub-cont .contact-group .top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}
.main-wrap .contact-wrap .sub-cont .contact-group .top h3 {
  font-size: 14px;
  line-height: 21px;
}
.main-wrap .contact-wrap .sub-cont .contact-group .top .trash {
  width: 25px;
}
.main-wrap .contact-wrap .sub-cont .contact-group .mid {
  padding-bottom: 5px;
}
.main-wrap .contact-wrap .sub-cont .contact-group .mid p {
  width: 100%;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px;
}
.main-wrap .contact-wrap .sub-cont .contact-group .bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-wrap .contact-wrap .sub-cont .contact-group .bot a {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.main-wrap .contact-wrap .sub-cont .contact-group .bot a > img {
  width: 20px;
}
.main-wrap .contact-wrap .sub-cont .contact-group .bot a > img.rotate_down {
  transition: transform 0.5s;
  transform: rotate(0deg);
}
.main-wrap .contact-wrap .sub-cont .contact-group .bot a > img.rotate_up {
  transition: transform 0.5s;
  transform: rotate(-180deg);
}
.main-wrap .contact-wrap .sub-cont .contact-group .answer {
  padding: 5px;
  font-size: 14px;
  background: #f2f2f2;
  border-radius: 5px;
}
.main-wrap .contact-wrap .sub-cont .contact-group .answer.hide {
  display: none;
}
.main-wrap .contact-wrap .sub-cont .contact-group .answer pre {
  line-height: 1.2;
}

.main-wrap .contact-wrap .enter-box .select-box ul li:first-child {
  width: 221px;
  margin-right: 8px;
}
.main-wrap .contact-wrap .enter-box .select-box ul li:first-child input {
  margin-top: 0;
}
.main-wrap
  .contact-wrap
  .enter-box
  .select-box
  ul
  li:first-child
  input::placeholder {
  font-size: 12px;
  letter-spacing: -0.5;
  line-height: 18px;
}
.main-wrap .contact-wrap .enter-box .select-box ul li:last-child {
  width: calc(100% - 241px);
}
.main-wrap .contact-wrap .enter-box .select-box ul li:last-child input {
  width: 100%;
  border: 1px solid #cfd0d7;
  padding: 13px 16px;
  border-radius: 4px;
  margin-top: 0;
}
.main-wrap .contact-wrap .enter-box .select-box ul li:last-child p {
  position: relative;
}
.main-wrap .contact-wrap .enter-box .select-box ul li:last-child img {
  position: absolute;
  top: 15px;
  right: 10px;
  width: 15px;
  height: 15px;
}
.main-wrap .contact-wrap .enter-box .select-box ul li.center {
  width: 20px;
  text-align: center;
  padding-right: 5px;
}
.main-wrap .contact-wrap .enter-box textarea {
  min-height: 244px;
}
.main-wrap .contact-wrap .enter-box .contact-select .select-click {
  position: relative;
  width: 100%;
  height: 44px;
  margin-top: 8px;
}
.main-wrap .contact-wrap .enter-box .contact-select .select-click div {
  height: 100%;
  justify-content: space-between;
  font-size: 14px;
  letter-spacing: -0.5px;
  padding: 13px 16px;
  border-radius: 4px;
  border: 1px solid #cfd0d7;
  line-height: 18px;
}
.main-wrap .contact-wrap .enter-box .contact-select .select-on {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: 1px solid #cfd0d7;
  border-radius: 4px;
  background: #fff;
}
.main-wrap .contact-wrap .enter-box .contact-select .select-on li {
  width: 100%;
  height: 44px;
  justify-content: space-between;
  border-bottom: 1px solid #cfd0d7;
  padding: 13px 16px;
  font-size: 14px;
  letter-spacing: -0.5px;
  line-height: 18px;
}
.main-wrap .contact-wrap .enter-box .contact-select .select-on li:last-child {
  border-bottom: 0;
}
.main-wrap .contact-wrap .enter-box .contact-select img {
  width: 18px;
  height: 18px;
}

.alert-wrap .sub-cont .profile li .left {
  width: 100%;
  white-space: normal;
}
.alert-wrap .sub-cont .reply li .left .like-txt {
  width: auto;
  padding-right: 20px;
}
.alert-wrap .sub-cont .reply li .left .like-txt p {
  font-size: 14px;
  color: #262626;
  line-height: 21px;
}
.alert-wrap .sub-cont .reply li .left .like-txt a {
  display: inline;
  margin-right: 0;
}
.alert-wrap .sub-cont .reply li .left .like-txt span {
  color: #8e8e8e;
  font-size: 11px;
}
.alert-wrap .sub-cont .reply li {
  position: relative;
  padding: 12px 16px;
}
.alert-wrap .sub-cont .reply li .right {
  position: absolute;
  top: 10px;
  right: 16px;
}

.wrap-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrap-progress.hide {
  display: none;
}
.wrap-progress .inner {
  text-align: center;
  background: white;
  padding: 15px 25px;
  border-radius: 10px;
}
.wrap-progress .inner h3 {
  margin-bottom: 10px;
}
.wrap-progress .inner img {
  width: 44px;
  height: 44px;
}

.contact-select select {
  width: 100%;
  border: 1px solid #cfd0d7;
  padding: 13px 16px;
  border-radius: 4px;
  line-height: 18px;
  background: #fff;
  background: url(/images/icon/icon_arrow_down_m.svg) no-repeat;
  background-position: 95% center;
  background-size: 18px 18px;
  margin-top: 8px;
}

/* 로딩 css */
#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: black;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
#loading.hide {
  display: none;
}

/* 검색 css 추가 (06.30) */
.search {
  display: none;
}
.search .title {
  border-bottom: 2px solid #fa6650;
  padding: 14px 0;
  text-align: center;
}
.search .title span {
  color: #222;
  font-weight: 500;
  font-size: 14px;
}
.search .placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
}
.search .placeholder p {
  text-align: center;
}
.search .loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 200px);
}
.search .loading img {
  width: 45px;
  height: 45px;
}
.search .hide {
  display: none;
}

/* 주소 검색 */
.search-addr {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
}
.search-addr.hide {
  display: none;
}
.search-addr .top {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  border-bottom: 1px solid #f2f2f2;
}

/* 공지사항 뷰 */
.notice-wrap .title {
  padding: 10px 0;
  height: 80px;
  box-shadow: 0 3px 5px 0 #ddd;
}
.notice-wrap .title h3 {
  padding: 0 10px;
  font-size: 24px;
  text-align: center;
}
.notice-wrap .title h5 {
  padding: 0 10px;
  font-size: 12px;
  font-weight: 400;
  text-align: right;
}
.notice-wrap pre {
  padding: 20px;
}

.isEvent {
  position: relative;
}
.isEvent .red {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: red;
  position: absolute;
  top: -3px;
  right: -3px;
}

/* 고양이 등록증 */
.card-wrap {
  width: 100%;
  height: calc(100vh - 96px);
  padding: 20px;
  background: #fbf3ec;
}
.card-wrap .card-border {
  overflow: hidden;
  padding-top: calc(11 / 17 * 100%);
  position: relative;
  height: 0;
  border-radius: 15px;
  box-shadow: 1px 1px 10px #828282;
  background-image: url(../images/cert1.png);
  background-size: contain;
}
.card-wrap .card-border .card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.card-wrap .card-border .card .header {
  width: 100%;
  height: 20%;
  /* background: #f8d8db; */
  display: flex;
  align-items: center;
  padding-left: 20px;
  /* font-weight: 800;
  font-size: 4.5vw; */
}
.card-wrap .card-border .card .content {
  width: 100%;
  height: 50%;
  /* background: #cae9df; */
  display: flex;
}
.card-wrap .card-border .card .content .left {
  width: 35%;
  height: 100%;
  padding: 10px 15px 5px 15px;
}
.card-wrap .card-border .card .content .left .swiper-container {
  height: 100%;
  border-radius: 2vw;
}
.card-wrap .card-border .card .content .left .swiper-container a {
  width: 100%;
  height: 100%;
}
.card-wrap .card-border .card .content .left .swiper-container a > img {
  width: 100%;
  height: 100%;
}
.card-wrap .card-border .card .content .right {
  width: 65%;
  height: 100%;
  padding: 5px;
  z-index: 1;
  padding-top: 10px;
}
.card-wrap .card-border .card .content .right .line {
  line-height: 0;
}
.card-wrap .card-border .card .content .right .line .title {
  margin-right: 10px;
  font-size: 3.5vw;
}
.card-wrap .card-border .card .content .right .line .desc {
  font-weight: 700;
  font-size: 3.5vw;
}
.card-wrap .card-border .card .footer {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #cae9df; */
  font-size: 4vw;
}

.card-wrap .card-border .card .footer img {
  width: 27vw;
}
.card-wrap .card-border .card .mark {
  position: absolute;
  bottom: 1vw;
  right: 16vw;
  width: 15vw;
  height: auto;
  z-index: 2;
}
.card-wrap .card-border .card .flat-cat {
  position: absolute;
  bottom: 3vw;
  right: 3vw;
  width: 25vw;
  height: auto;
}

.card-wrap .card-border .card.empty {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-wrap .card-border .card.empty a {
  width: 60px;
  height: 60px;
}
.card-wrap .card-border .card.empty a > img {
  width: 100%;
  height: 100%;
  transform: rotate(45deg);
}

.card-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid gray;
  border-radius: 5px;
  margin-right: 10px;
}
.card-bullet:last-child {
  margin-right: 0;
}
.card-bullet:nth-child(1) {
  width: 20px;
  height: 20px;
  background-image: url("/images/icon/icon-nocats.svg");
  background-size: contain;
  transform: rotate(45deg);
  border: none;
}
.card-bullet:nth-child(1).card-bullet-active {
  filter: invert();
}
.card-bullet:not(.card-bullet:nth-child(1)).card-bullet-active {
  background: tomato;
}

.card-area {
  height: calc(100vh - 167px);
}
.card-slide {
  height: 100%;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.card-slide .group {
  width: 100%;
}
.card-slide .group .msg {
  width: 100%;
  height: 21vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-slide .group .msg > p {
  font-family: "ONE-Mobile-POP";
  text-align: center;
  font-size: 4.7vw;
}
.card-slide .group .button {
  width: 100%;
  height: 23.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-slide .group .button button {
  width: 50%;
  padding: 10px;
  background: tomato;
}
.card-clickable {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 60px !important;
}

@media (max-width: 375px) {
  .card-wrap .card-border .card .content .right .line .title {
    font-size: 3.5vw;
  }
  .card-wrap .card-border .card .content .right .line .desc {
    font-size: 3.5vw;
  }
}

@media (max-width: 320px) {
  .card-wrap .card-border .card .content .right .line .title {
    font-size: 2.7vw;
  }
  .card-wrap .card-border .card .content .right .line .desc {
    font-size: 2.7vw;
  }

  .card-wrap .card-border .card .mark {
    width: 15vw;
  }
  .card-wrap .card-border .card .flat-cat {
    width: 25vw;
  }
}

.btn-download {
  filter: opacity(0.5);
  margin-left: 10px;
}

.popup-pagination {
  top: 0 !important;
  height: 10px;
}
.popup-pagination .swiper-pagination-bullet {
  position: static !important;
  width: 10px !important;
  height: 10px !important;
  text-align: center !important;
  line-height: 20px !important;
  font-size: 12px !important;
  color: #000 !important;
  opacity: 1 !important;
  background: rgba(0, 0, 0, 0.2) !important;
  margin-right: 10px !important;
  background: white !important;
}
.popup-pagination .swiper-pagination-bullet:last-child {
  margin-right: 0 !important;
}
.popup-pagination .swiper-pagination-bullet-active {
  color: #fff !important;
  background: #007aff !important;
}
